Repository wowsims/cata, pull requests merged in 2024-09, with the labels that each got.

#944 [Shaman] Fixed some bugs and Test Update
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/glyphs.go
  sim/shaman/items.go
  sim/shaman/shaman.go
  sim/shaman/talents.go
  sim/shaman/unleash_elements.go
  tools/database/atlasloot.go
  ui/core/proto_utils/action_id.ts
  ui/shaman/elemental/apls/unleash.apl.json
Labels: Shaman

#994 Nefarian preset inputs cleanup
  assets/database/db.bin
  assets/database/db.json
  sim/encounters/bwd/nefarian_ai.go
  ui/druid/guardian/presets.ts
Labels: Druid

#997 [Ret] Enable spell power raid buff selection
  ui/paladin/retribution/sim.ts
Labels: Paladin

#998 Fix t12 hunter 4 piece
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/hunter.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
Labels: Hunter

#999 Warlock fixes
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/affliction_test.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/demonology_test.go
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/glyphs.go
  sim/warlock/items.go
  sim/warlock/pets.go
  sim/warlock/warlock.go
  ui/core/constants/item_notices.tsx
  ui/core/proto_utils/action_id.ts
Labels: Warlock

#1000 Feral 4pT12 Implementation
  sim/death_knight/frost/TestFrost.results
  sim/druid/barkskin.go
  sim/druid/berserk.go
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/ferocious_bite.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/items.go
  sim/druid/rip.go
  sim/druid/savage_roar.go
  ui/core/constants/item_notices.tsx
  ui/druid/feral/gear_sets/p3.gear.json
  ui/druid/feral/sim.ts
Labels: Druid

#996 [Rogue] Updates for T12
  sim/core/racials.go
  sim/rogue/ambush.go
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/expose_armor.go
  sim/rogue/garrote.go
  sim/rogue/gouge.go
  sim/rogue/items.go
  sim/rogue/rogue.go
  sim/rogue/shiv.go
  sim/rogue/sinister_strike.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/honor_among_thieves.go
  ui/core/constants/item_notices.tsx
  ui/rogue/assassination/apls/mutilate.apl.json
  ui/rogue/assassination/gear_sets/p3_assassination.gear.json
  ui/rogue/assassination/presets.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/apls/combat.apl.json
  ui/rogue/combat/gear_sets/p3_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/apls/subtlety.apl.json
  ui/rogue/subtlety/gear_sets/p3_subtlety.gear.json
  ui/rogue/subtlety/presets.ts
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1001 Warlock incinerate fixes
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/destruction/destruction_test.go
  sim/warlock/immolate.go
  sim/warlock/incinerate.go
Labels: Warlock

#1003 [Warrior] remove noOnCastComplete flag from inner rage to enable t13-2p aura proc
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/inner_rage.go
Labels: Warrior

#1007 Generalized Feral bleed snapshotting algorithm
  sim/core/aura_helpers.go
  sim/core/unit.go
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral.go
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
  sim/druid/rake.go
  sim/druid/rip.go
Labels: Druid

#1008 Fix t12 activation for hunter
  sim/death_knight/frost/TestFrost.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/hunter.go
  sim/hunter/survival/TestSV.results
  ui/core/proto_utils/gear.ts
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
Labels: Hunter

#1009 [FIX] Adjust VPLC proc rate and add warning
  sim/common/cata/damage_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/feral/rotation.go
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  ui/core/constants/item_notices.tsx
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock

#1013 [WARR][UI] P3 Arms/Fury
  sim/warrior/arms/TestArms.results
  sim/warrior/arms/arms_test.go
  sim/warrior/fury/TestFury.results
  sim/warrior/fury/fury_test.go
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/warrior/arms/apls/arms.apl.json
  ui/warrior/arms/gear_sets/p3_arms_bis.gear.json
  ui/warrior/arms/presets.ts
  ui/warrior/arms/sim.ts
  ui/warrior/fury/apls/smf.apl.json
  ui/warrior/fury/apls/tg.apl.json
  ui/warrior/fury/gear_sets/p3_fury_smf.gear.json
  ui/warrior/fury/gear_sets/p3_fury_tg.gear.json
  ui/warrior/fury/presets.ts
  ui/warrior/fury/sim.ts
Labels: Warrior

#1014 [Ret] Fix Glyph of Exorcism to always crit on Undead and Demons
  sim/paladin/glyphs.go
Labels: Paladin

#1010 [DEMONOLOGY][UI] Add post prepull snapshot mana
  proto/common.proto
  proto/warlock.proto
  sim/warlock/demonology/demonology.go
  sim/warlock/demonology/metamorphosis.go
  ui/core/proto_utils/action_id.ts
  ui/warlock/demonology/presets.ts
  ui/warlock/demonology/sim.ts
  ui/warlock/inputs.ts
Labels: Warlock

#1012 [Enh] Implement T12 set bonuses
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/lavalash.go
  sim/shaman/items.go
  sim/shaman/shaman.go
  sim/shaman/stormstrike.go
  sim/shaman/talents.go
  sim/shaman/weapon_imbues.go
Labels: Shaman

#1015 [WARR] Fix wrong gem
  sim/warrior/fury/TestFury.results
  ui/warrior/fury/gear_sets/p3_fury_smf.gear.json
  ui/warrior/fury/gear_sets/p3_fury_tg.gear.json
Labels: Warrior

#1017 Update Fury P3 gear
  sim/warrior/fury/TestFury.results
  ui/warrior/fury/gear_sets/p3_fury_smf.gear.json
  ui/warrior/fury/gear_sets/p3_fury_tg.gear.json
Labels: Warrior

#1019 [FURY] Fix wrong SMF weapon
  sim/warrior/fury/TestFury.results
  ui/warrior/fury/gear_sets/p3_fury_smf.gear.json
Labels: Warrior

#1020 Debug CI test failures
  sim/death_knight/frost/TestFrost.results
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral.go
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
Labels: Druid

#1021 Unify Ignite code and add optional munching model
  sim/common/cata/other_effects.go
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/druid/items.go
  sim/druid/mangle.go
  sim/druid/maul.go
  sim/druid/shred.go
  sim/mage/talents_fire.go
  sim/paladin/items.go
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination_test.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/items.go
  sim/rogue/subtlety/TestSubtlety.results
  ui/core/constants/item_notices.tsx
Labels: Mage, Paladin, Druid, Rogue

#1027 [WARRIOR][UI] Fix Prot block percent & add toughness to UI stats
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/protection/protection.go
  ui/warrior/protection/sim.ts
Labels: Warrior

#1026 [core] Fix items not profiting from spell crit mult
  sim/common/wotlk/_damage_procs.go
  sim/common/wotlk/enchant_effects.go
  sim/common/wotlk/other_effects.go
  sim/core/character.go
  sim/core/pet.go
  sim/mage/arcane/TestArcane.results
  sim/mage/arcane/arcane_barrage.go
  sim/mage/arcane_blast.go
  sim/mage/arcane_explosion.go
  sim/mage/arcane_missiles.go
  sim/mage/blast_wave.go
  sim/mage/blizzard.go
  sim/mage/combustion.go
  sim/mage/deep_freeze.go
  sim/mage/dragons_breath.go
  sim/mage/fire/TestFire.results
  sim/mage/fire/pyroblast.go
  sim/mage/fire_blast.go
  sim/mage/fireball.go
  sim/mage/flame_orb.go
  sim/mage/flamestrike.go
  sim/mage/freeze.go
  sim/mage/frost/water_elemental.go
  sim/mage/frostbolt.go
  sim/mage/frostfire_bolt.go
  sim/mage/frostfire_orb.go
  sim/mage/ice_lance.go
  sim/mage/living_bomb.go
  sim/mage/mage.go
  sim/mage/scorch.go
  sim/priest/_holy_fire.go
  sim/priest/_smite.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/warlock.go
Labels: Mage, Priest, Warlock

#1030 [WARRIOR] Fix core toughness implementation
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/talents.go
  ui/warrior/protection/sim.ts
Labels: Warrior

#1032 [WARRIOR] Prot p3 gear
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/protection/protection_test.go
  ui/warrior/protection/gear_sets/p3_bis.gear.json
  ui/warrior/protection/gear_sets/preraid.gear.json
  ui/warrior/protection/presets.ts
  ui/warrior/protection/sim.ts
Labels: Warrior

#1033 [Ret] Make sure to always gain/spend HP before dealing damage
  sim/paladin/crusader_strike.go
  sim/paladin/exorcism.go
  sim/paladin/inquisition.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/templars_verdict.go
  sim/paladin/talents_protection.go
  sim/paladin/talents_retribution.go
  ui/paladin/retribution/presets.ts
Labels: Paladin

#1035 Feature/prot warr p3 gear
  sim/warrior/protection/TestProtectionWarrior.results
  ui/warrior/protection/gear_sets/p1_bis.gear.json
  ui/warrior/protection/presets.ts
Labels: Warrior

#1037 Beth'tilac Preset Encounter
  assets/database/db.bin
  assets/database/db.json
  sim/core/constants.go
  sim/core/debuffs.go
  sim/druid/berserk.go
  sim/druid/druid.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/ravage.go
  sim/druid/talents.go
  sim/encounters/firelands/bethtilac_ai.go
  sim/encounters/firelands/firelands.go
  sim/encounters/register_all.go
  ui/druid/guardian/apls/default.apl.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
Labels: Druid

#1038 Block Primal Madness cancellation during Berserk
  sim/druid/feral/rotation.go
Labels: Druid

#1041 [MAGE][ARCANE] Remove Mana Adept class mask
  sim/mage/arcane/TestArcane.results
  sim/mage/arcane/arcane.go
Labels: Mage

#1043 Feature/prot warr p3 gear
  sim/druid/feral/rotation.go
  sim/encounters/firelands/bethtilac_ai.go
  sim/warrior/protection/TestProtectionWarrior.results
  ui/warrior/protection/gear_sets/p3_bis.gear.json
Labels: Druid, Warrior

#1044 [PRIEST][UI] Adjust VPLC warning & Shadow Power mask
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/shadow.go
  ui/core/components/item_notice/item_notice.tsx
  ui/core/constants/item_notices.tsx
Labels: Priest

#1046 Fix VPLC N damage range & class masks
  sim/common/cata/damage_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance_test.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/druid/talents.go
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock

#1045 Add missing trinket implementations
  sim/common/cata/other_effects.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/constants/item_notices.tsx
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1048 [Balance] Make EclipseEnergyMap a struct on Druid instead of shared
  sim/druid/druid.go
  sim/druid/eclipse_energy_map.go
Labels: Druid

#1051 [Rogue] Update default EPs, Breakpoints, and Gear Sets for Combat and Assassination
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination_test.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/combat_test.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/subtlety_test.go
  ui/rogue/assassination/gear_sets/p3_assassination.gear.json
  ui/rogue/assassination/presets.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/gear_sets/p1_combat.gear.json
  ui/rogue/combat/gear_sets/p3_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/apls/subtlety.apl.json
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1052 Feral Rotation Updates
  sim/druid/feral/rotation.go
Labels: Druid

#1053 Simplify Scales of Life to always be usable for real this time
  sim/common/cata/other_effects.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1055 Adjust optimised gear & APL
  sim/warrior/protection/TestProtectionWarrior.results
  ui/warrior/protection/apls/default.apl.json
  ui/warrior/protection/gear_sets/p3_bis.gear.json
  ui/warrior/protection/presets.ts
Labels: Warrior

#1056 [UI][MAGE] Add P3 preset
  sim/druid/feral/feral.go
  sim/mage/fire/TestFire.results
  sim/mage/fire/fire_test.go
  ui/core/player_classes/mage.ts
  ui/mage/fire/gear_sets/p3_fire.gear.json
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
Labels: Mage, Druid

#1057 [DK] Add P3 Unholy and Masterfrost presets and update APLs
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/frost/frost_test.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  ui/death_knight/frost/apls/2h.apl.json
  ui/death_knight/frost/apls/dw.apl.json
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/gear_sets/p3.masterfrost.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/apls/st.apl.json
  ui/death_knight/unholy/gear_sets/p3.bis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#1058 [SHAMAN][UI] Elemental Shaman P3
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  sim/shaman/talents.go
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
  ui/shaman/elemental/gear_sets/p3.aoe-tidefury.gear.json
  ui/shaman/elemental/gear_sets/p3.cleave-aoe.gear.json
  ui/shaman/elemental/gear_sets/p3.default.gear.json
  ui/shaman/elemental/presets.ts
  ui/shaman/elemental/sim.ts
Labels: Shaman

#1062 [UI][WARLOCK] Update Warlock P3 setups
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/affliction_test.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/demonology_test.go
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/destruction/destruction_test.go
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/warlock/affliction/apls/default.apl.json
  ui/warlock/affliction/gear_sets/p3.gear.json
  ui/warlock/affliction/gear_sets/p4_wrath.gear.json
  ui/warlock/affliction/presets.ts
  ui/warlock/affliction/sim.ts
  ui/warlock/demonology/apls/default.apl.json
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
  ui/warlock/demonology/gear_sets/p3.gear.json
  ui/warlock/demonology/gear_sets/p4_wrath.gear.json
  ui/warlock/demonology/gear_sets/preraid.gear.json
  ui/warlock/demonology/presets.ts
  ui/warlock/demonology/sim.ts
  ui/warlock/destruction/apls/default.apl.json
  ui/warlock/destruction/gear_sets/p3.gear.json
  ui/warlock/destruction/gear_sets/p4_wrath.gear.json
  ui/warlock/destruction/presets.ts
  ui/warlock/destruction/sim.ts
Labels: Warlock

#1063 [MAGE] T13 set bonus
  sim/mage/combustion.go
  sim/mage/fire/TestFire.results
  sim/mage/items.go
  sim/mage/mage.go
  sim/mage/talents_arcane.go
  sim/mage/talents_frost.go
Labels: Mage

#1064 [Rogue] More Combat EP tuning, Sub and Asn Mastery Flooring
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/subtlety.go
  ui/rogue/assassination/presets.ts
  ui/rogue/combat/gear_sets/p3_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
Labels: Rogue

#1065 [WARLOCK] Reverse UA glyph cast time logic
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/glyphs.go
Labels: Warlock
