Repository wowsims/cata, pull requests merged in 2024-11, with the labels that each got.

#1145 fix warrior rend ticking and "snapshot" behavior
  sim/core/dot.go
  sim/warrior/arms/TestArms.results
  sim/warrior/arms/talents.go
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/rend.go
  sim/warrior/talents.go
Labels: Warrior

#1150 update rend outcome and change to physical snapshot
  sim/warrior/arms/TestArms.results
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/rend.go
Labels: Warrior

#1152 Update Destro P3 set
  sim/warlock/destruction/TestDestruction.results
  ui/warlock/destruction/gear_sets/p3.gear.json
Labels: Warlock

#1149 [DK] Move Frost Death Knight to phase 3 and fix APL for normal trinkets
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/frost/frost_test.go
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/launched_sims.ts
  ui/death_knight/frost/apls/2h.apl.json
  ui/death_knight/frost/apls/dw.apl.json
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/gear_sets/p1.2h.gear.json
  ui/death_knight/frost/gear_sets/p1.dw.gear.json
  ui/death_knight/frost/gear_sets/p1.masterfrost.gear.json
  ui/death_knight/frost/gear_sets/p3.masterfrost.gear.json
  ui/death_knight/frost/gear_sets/prebis.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/apls/default.apl.json
Labels: Paladin, Priest, Death Knight, Druid, Rogue, Shaman, Warrior

#1153 [Warrior][Arms] small rotation update
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/apls/arms.apl.json
Labels: Warrior

#1156 Revert rend changes
  sim/warrior/arms/TestArms.results
  sim/warrior/arms/talents.go
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/rend.go
  sim/warrior/talents.go
Labels: Warrior

#1157 [Items] Blacklist unavailable items from P1-P3
  assets/database/db.bin
  assets/database/db.json
  sim/warrior/protection/TestProtectionWarrior.results
  tools/database/overrides.go
  ui/core/constants/item_notices.tsx
  ui/warrior/protection/gear_sets/p1_bis.gear.json
Labels: Warrior

#1158 [SHAMAN] Add 4.2 t12 2pc version
  proto/shaman.proto
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental.go
  sim/shaman/enhancement/enhancement.go
  sim/shaman/items.go
  sim/shaman/restoration/restoration.go
  sim/shaman/shaman.go
  ui/core/constants/item_notices.tsx
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
  ui/shaman/elemental/presets.ts
  ui/shaman/elemental/sim.ts
  ui/shaman/inputs.ts
Labels: Shaman

#1154 [UI] Finalise last classes for P3
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/launched_sims.ts
  ui/death_knight/blood/sim.ts
  ui/druid/balance/gear_sets/preraid.gear.json
  ui/druid/balance/sim.ts
  ui/mage/arcane/gear_sets/prebis.gear.json
  ui/mage/arcane/presets.ts
  ui/mage/arcane/sim.ts
  ui/mage/fire/gear_sets/p1_fire_prebis_gear.json
  ui/mage/fire/gear_sets/p3_fire_prebis.gear.json
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
  ui/priest/shadow/gear_sets/preraid.gear.json
  ui/priest/shadow/presets.ts
  ui/priest/shadow/sim.ts
  ui/shaman/elemental/gear_sets/preraid.gear.json
  ui/shaman/elemental/sim.ts
  ui/shaman/enhancement/gear_sets/preraid.gear.json
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
  ui/warlock/affliction/gear_sets/preraid.gear.json
  ui/warlock/affliction/presets.ts
  ui/warlock/affliction/sim.ts
  ui/warlock/demonology/gear_sets/preraid.gear.json
  ui/warlock/demonology/sim.ts
  ui/warlock/destruction/gear_sets/preraid.gear.json
  ui/warlock/destruction/sim.ts
  ui/warrior/arms/gear_sets/preraid_arms.gear.json
  ui/warrior/arms/presets.ts
  ui/warrior/arms/sim.ts
  ui/warrior/fury/gear_sets/preraid_fury_smf.gear.json
  ui/warrior/fury/gear_sets/preraid_fury_tg.gear.json
  ui/warrior/fury/presets.ts
  ui/warrior/fury/sim.ts
  ui/warrior/protection/gear_sets/preraid.gear.json
  ui/warrior/protection/presets.ts
  ui/warrior/protection/sim.ts
Labels: Mage, Priest, Death Knight, Druid, Shaman, Warlock, Warrior

#1159 [Rogue] Preraid Gearsets
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination_test.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/combat_test.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/subtlety_test.go
  ui/rogue/assassination/gear_sets/preraid_assassination.gear.json
  ui/rogue/assassination/presets.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/gear_sets/preraid_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/gear_sets/preraid_subtlety.gear.json
  ui/rogue/subtlety/presets.ts
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1160 Feature/shaman fire elemental snapshot apl check
  proto/apl.proto
  sim/core/pet.go
  sim/shaman/apl_values.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/fire_elemental_pet.go
  sim/shaman/fire_elemental_spells.go
  sim/shaman/fire_elemental_totem.go
  sim/shaman/talents.go
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
Labels: Shaman

#1164 Baleroc Encounter Model + Tank Sim Healing Model Updates
  assets/database/db.bin
  assets/database/db.json
  proto/common.proto
  sim/core/environment.go
  sim/core/health.go
  sim/core/spell_result.go
  sim/core/stats/stats.go
  sim/core/unit.go
  sim/druid/druid.go
  sim/druid/savage_defense.go
  sim/encounters/firelands/baleroc_ai.go
  sim/encounters/firelands/firelands.go
  ui/core/components/encounter_picker.ts
  ui/core/components/inputs/other_inputs.ts
  ui/death_knight/blood/sim.ts
  ui/druid/guardian/apls/balerocMT.apl.json
  ui/druid/guardian/apls/balerocOT.apl.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
  ui/paladin/protection/sim.ts
  ui/warrior/protection/sim.ts
Labels: Paladin, Death Knight, Druid, Warrior

#1163 [SHAMAN] Update improved APL
  sim/shaman/elemental/TestElemental.results
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
Labels: Shaman

#1166 Blacklist proc trinkets with extra proc conditions from APL aura sets
  sim/common/cata/stat_bonus_procs.go
  sim/common/shared/shared_utils.go
  sim/core/apl_values_aura_sets.go
  sim/core/aura_helpers.go
  sim/shaman/elemental/TestElemental.results
  sim/warlock/demonology/TestDemonology.results
Labels: Shaman, Warlock

#1168 Generalize default Unholy APL using aura set APL values
  proto/apl.proto
  sim/core/apl_helpers.go
  sim/core/apl_values_aura_sets.go
  sim/core/character.go
  sim/death_knight/unholy/TestUnholy.results
  ui/core/components/individual_sim_ui/apl_helpers.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#1165 [Elemental] Updated APL
  proto/apl.proto
  proto/shaman.proto
  sim/core/pet.go
  sim/shaman/apl_values.go
  sim/shaman/earth_elemental_pet.go
  sim/shaman/fire_elemental_pet.go
  sim/shaman/shaman.go
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
  ui/shaman/elemental/presets.ts
  ui/shaman/inputs.ts
Labels: Shaman

#1171 [Hunter] Add Changes to Explosive Shot from Nov 5 patch
  sim/hunter/mm_talents.go
  sim/hunter/survival/TestSV.results
  sim/hunter/survival/explosive_shot.go
  sim/hunter/survival_talents.go
  ui/hunter/survival/apls/sv.apl.json
Labels: Hunter

#1172 [Ret] Combine and optimize APLs and add more pvp trinkets
  sim/common/cata/stat_bonus_cds.go
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/glyphs.go
  sim/paladin/items.go
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/apls/t13.apl.json
  ui/paladin/retribution/gear_sets/p2_bis.gear.json
  ui/paladin/retribution/gear_sets/p3_bis.gear.json
  ui/paladin/retribution/gear_sets/p4_bis.gear.json
  ui/paladin/retribution/gear_sets/preraid.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1174 Unholy APL Updates
  proto/apl.proto
  sim/core/apl_value.go
  sim/core/apl_values_aura_sets.go
  sim/death_knight/unholy/TestUnholy.results
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#1177 Fix bonus stats for eles
  sim/shaman/earth_elemental_pet.go
  sim/shaman/earth_elemental_totem.go
  sim/shaman/fire_elemental_pet.go
  sim/shaman/fire_elemental_totem.go
Labels: Shaman

#1185 [Enh] Tweak APL to gain a bit of deeps
  sim/shaman/enhancement/TestEnhancement.results
  ui/shaman/enhancement/apls/default.apl.json
Labels: Shaman

#1187 [Ret] Add special case to the APL for the 1min cd rep trinket
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin

#1190 [Prot] Update Prot Pala for P3
  sim/paladin/protection/TestProtection.results
  sim/paladin/protection/protection_test.go
  sim/paladin/talents_protection.go
  ui/core/launched_sims.ts
  ui/paladin/protection/apls/default.apl.json
  ui/paladin/protection/gear_sets/T11.gear.json
  ui/paladin/protection/gear_sets/T11CTC.gear.json
  ui/paladin/protection/gear_sets/T12.gear.json
  ui/paladin/protection/gear_sets/preraid.gear.json
  ui/paladin/protection/presets.ts
  ui/paladin/protection/sim.ts
Labels: Paladin

#1192 [Ret] APL Tweaks
  sim/common/cata/other_effects.go
  sim/paladin/glyphs.go
  sim/paladin/items.go
  sim/paladin/retribution/TestRetribution.results
  sim/warrior/arms/TestArms.results
  ui/core/proto_utils/action_id.ts
  ui/paladin/retribution/apls/apparatus.apl.json
Labels: Paladin, Warrior

#1195 Baleroc AI Fixes
  sim/core/aura_helpers.go
  sim/core/health.go
  sim/encounters/firelands/baleroc_ai.go
  ui/druid/guardian/presets.ts
Labels: Druid

#1196 [Elemental] Searing prepull changes, bonus stats for fele snapshotting
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/fire_elemental_pet.go
  sim/shaman/fire_totems.go
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
  ui/shaman/elemental/apls/unleash.apl.json
  ui/shaman/elemental/presets.ts
Labels: Shaman

#1198 [Ret] Blazing Light talent should increase Glyph of Exorcism damage
  sim/paladin/_talents.go
  sim/paladin/ancient_guardian_pet.go
  sim/paladin/avenging_wrath.go
  sim/paladin/consecration.go
  sim/paladin/divine_plea.go
  sim/paladin/divine_protection.go
  sim/paladin/exorcism.go
  sim/paladin/glyphs.go
  sim/paladin/guardian_of_ancient_kings.go
  sim/paladin/hammer_of_wrath.go
  sim/paladin/inquisition.go
  sim/paladin/items.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/protection/avengers_shield.go
  sim/paladin/protection/protection.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution.go
  sim/paladin/retribution/retribution_test.go
  sim/paladin/righteous_fury.go
  sim/paladin/seal_of_insight.go
  sim/paladin/seal_of_justice.go
  sim/paladin/seal_of_righteousness.go
  sim/paladin/seal_of_truth.go
  sim/paladin/talents_holy.go
  sim/paladin/talents_protection.go
  sim/paladin/talents_retribution.go
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin

#1199 ICD Filtering for Trinket Proc APL Wrapper Values
  proto/apl.proto
  sim/core/apl_helpers.go
  sim/core/apl_values_aura_sets.go
  sim/core/character.go
  sim/death_knight/unholy/TestUnholy.results
  ui/core/components/individual_sim_ui/apl_helpers.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#1200 [Ret] Fix Essence of the Eternal Flame in APL and add starting HP option
  proto/paladin.proto
  sim/paladin/holy_power.go
  sim/paladin/paladin.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution.go
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/inputs.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#1202 Make FFB Glyph damage account for stacks
  sim/mage/frostfire_bolt.go
Labels: Mage

#1205 [Frost] Update MF and Oblit APLs
  sim/death_knight/frost/TestFrost.results
  ui/death_knight/frost/apls/dw.apl.json
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/gear_sets/p3.dw.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
Labels: Death Knight

#1207 [Warrior] Add normal Apparatus to Warrior APLs
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/apls/arms.apl.json
  ui/warrior/fury/apls/smf.apl.json
  ui/warrior/fury/apls/tg.apl.json
  ui/warrior/fury/presets.ts
Labels: Warrior

#1211 [MAGE] Add T12 Mirror Image cast delay
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/mirror_image_t12.go
  ui/core/components/individual_sim_ui/.apl_values.ts.swp
Labels: Mage

#1213 [Ret] Unify both APLs into one and simplify some conditions
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/gear_sets/p3_bis.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#1217 [Ret] Fix copy paste oopsie with P2 BiS gear becoming P4
  sim/paladin/retribution/TestRetribution.results
  ui/paladin/retribution/gear_sets/p2_bis.gear.json
Labels: Paladin

#1218 [Ret] Switch to reaction time APL actions for procs
  sim/paladin/retribution/TestRetribution.results
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/presets.ts
Labels: Paladin

#1191 [Rogue] T13/Phase 4 additions, APL tuning, Combat reforging defaults
  sim/rogue/ambush.go
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination_test.go
  sim/rogue/assassination/vendetta.go
  sim/rogue/backstab.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/adrenaline_rush.go
  sim/rogue/combat/combat.go
  sim/rogue/combat/combat_test.go
  sim/rogue/combat/mastery.go
  sim/rogue/combat/restless_blades.go
  sim/rogue/eviscerate.go
  sim/rogue/items.go
  sim/rogue/recuperate.go
  sim/rogue/rogue.go
  sim/rogue/rupture.go
  sim/rogue/slice_and_dice.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/hemorrhage.go
  sim/rogue/subtlety/serrated_blades.go
  sim/rogue/subtlety/shadow_dance.go
  sim/rogue/subtlety/subtlety.go
  sim/rogue/subtlety/subtlety_test.go
  sim/rogue/talents.go
  ui/core/constants/item_notices.tsx
  ui/rogue/assassination/apls/mutilate.apl.json
  ui/rogue/assassination/gear_sets/p4_assassination.gear.json
  ui/rogue/assassination/presets.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/apls/combat.apl.json
  ui/rogue/combat/gear_sets/p1_combat.gear.json
  ui/rogue/combat/gear_sets/p4_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/apls/subtlety.apl.json
  ui/rogue/subtlety/gear_sets/p4_subtlety.gear.json
  ui/rogue/subtlety/presets.ts
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1219 [Items] Fix batch simming of multiple versions of Vessel
  sim/common/cata/other_effects.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/paladin/retribution/TestRetribution.results
Labels: Hunter, Paladin, Druid

#1220 SV changes
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
Labels: Hunter

#1222 Fix SV reforges
  ui/hunter/survival/sim.ts
Labels: Hunter

#1223 [MAGE] Fix Flame Orb scaling
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/fire/fire.go
  sim/mage/flame_orb.go
  sim/mage/talents_fire.go
  ui/mage/fire/apls/fire.apl.json
Labels: Mage

#1225 [Hunter] Small fixes for Hunter
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/marksmanship/marksmanship_test.go
  sim/hunter/survival/TestSV.results
  ui/hunter/marksmanship/apls/mm.apl.json
  ui/hunter/marksmanship/apls/mm_advanced.apl.json
  ui/hunter/marksmanship/gear_sets/p3_mm.gear.json
  ui/hunter/marksmanship/presets.ts
  ui/hunter/marksmanship/sim.ts
  ui/hunter/survival/apls/sv.apl.json
  ui/hunter/survival/gear_sets/p4_sv_gear.json
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
Labels: Hunter

#1227 [Frost] Fix haste fakepoint between 1746 and 1747 rating
  sim/death_knight/frost/TestFrost.results
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/gear_sets/p3.masterfrost.gear.json
  ui/death_knight/frost/sim.ts
Labels: Death Knight

#1228 [DK] Add Max Runic Power APL Value
  proto/apl.proto
  sim/core/apl_value.go
  sim/core/apl_values_resources.go
  sim/core/runic_power.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/frost/frost_test.go
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/presets.ts
Labels: Death Knight

#1209 Add separate APL Validation Warnings for each APL Value
  proto/api.proto
  proto/apl.proto
  proto/common.proto
  sim/core/apl.go
  sim/core/apl_actions_casting.go
  sim/core/apl_actions_misc.go
  sim/core/apl_actions_sequences.go
  sim/core/apl_actions_timing.go
  sim/core/apl_helpers.go
  sim/core/apl_value.go
  sim/core/apl_values_aura.go
  sim/core/apl_values_aura_sets.go
  sim/core/apl_values_auto_attacks.go
  sim/core/apl_values_boss.go
  sim/core/apl_values_core.go
  sim/core/apl_values_encounter.go
  sim/core/apl_values_gcd.go
  sim/core/apl_values_operators.go
  sim/core/apl_values_properties.go
  sim/core/apl_values_resources.go
  sim/core/apl_values_runes.go
  sim/core/apl_values_sequences.go
  sim/core/apl_values_spell.go
  sim/core/apl_values_test.go
  sim/core/apl_values_unit.go
  sim/core/cast.go
  sim/druid/apl_values.go
  sim/encounters/_ulduar/hodir_ai.go
  sim/mage/apl_values.go
  sim/paladin/apl_values.go
  sim/shaman/apl_values.go
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/core/components/individual_sim_ui/apl_rotation_picker.ts
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/core/components/pickers/list_picker.tsx
  ui/scss/core/components/individual_sim_ui/_apl_rotation_picker.scss
Labels: Mage, Paladin, Druid, Shaman

#1224 [WARLOCK] Add T13 set bonuses
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/doomguard.go
  sim/warlock/infernal.go
  sim/warlock/items.go
  sim/warlock/soul_fire.go
  sim/warlock/soul_harvest.go
  sim/warlock/soulburn.go
  sim/warlock/warlock.go
Labels: Warlock

#1230 [WARRIOR] Update APL
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/apls/arms.apl.json
Labels: Warrior

#1236 [Prot] Implement Prot Warrior T13 2pc correctly with absorb helper
  sim/warrior/items.go
Labels: Warrior

#1234 [Balance] Fixed a bug that allows Euphoria to proc outside of energy …
  sim/druid/balance/TestBalance.results
  sim/druid/eclipse.go
Labels: Druid

#1235 [Enh] Implement Enhancement T13
  sim/death_knight/items.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/feral_spirit.go
  sim/shaman/items.go
  sim/shaman/shaman.go
  ui/core/constants/item_notices.tsx
Labels: Shaman
