Repository wowsims/cata, pull requests merged in 2024-08, with the labels that each got.

#896 Update proper reforges & p1 bis gem
  sim/mage/fire/TestFire.results
  ui/mage/fire/gear_sets/p1_fire.gear.json
  ui/mage/fire/gear_sets/p1_fire_prebis_gear.json
Labels: Mage

#892 Bt rb fixes
  sim/death_knight/frost/TestFrost.results
  sim/warrior/fury/TestFury.results
  sim/warrior/fury/bloodthirst.go
  sim/warrior/fury/raging_blow.go
Labels: Warrior

#904 [WARRIOR][FURY] Add new Fury EPs after RB/BT fix
  ui/warrior/fury/presets.ts
  ui/warrior/fury/sim.ts
Labels: Warrior

#903 update firelands capacitor proc chance
  sim/common/cata/damage_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock

#897 Implemented prepull mastery input for Fury
  proto/warrior.proto
  sim/warrior/fury/death_wish.go
  sim/warrior/fury/fury.go
  ui/warrior/fury/inputs.ts
  ui/warrior/fury/presets.ts
  ui/warrior/fury/sim.ts
Labels: Warrior

#912 Add Fel spark to Destruction APL
  sim/warlock/destruction/TestDestruction.results
  ui/warlock/destruction/apls/default.apl.json
Labels: Warlock

#913 [Ret] Fix Censure application and License to Slay proc masks
  sim/common/cata/stat_bonus_stacking.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/unholy/TestUnholy.results
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/seal_of_truth.go
  sim/priest/shadow/TestShadow.results
Labels: Paladin, Priest

#906 [Priest] Add shadow T12 set
  sim/priest/items.go
  sim/priest/shadow/TestShadow.results
Labels: Priest

#914 [WARLOCK] Add random cast delay to Doomguard
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/doomguard.go
Labels: Warlock

#916 Fix t12 proc
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
Labels: Hunter

#915 Use correct ProcMask on strength trinkets
  sim/common/cata/stat_bonus_procs.go
  sim/common/cata/stat_bonus_stacking.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/unholy/TestUnholy.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/elemental/TestElemental.results
Labels: Hunter, Paladin, Priest, Shaman

#921 [WARLOCK][DEMO] Fix Mastery flooring breakpoints
  ui/core/components/suggest_reforges_action.tsx
  ui/warlock/affliction/sim.ts
  ui/warlock/demonology/sim.ts
Labels: Warlock

#922 [WARLOCK] Visual Mastery breakpoints
  ui/core/components/suggest_reforges_action.tsx
  ui/warlock/affliction/sim.ts
  ui/warlock/demonology/sim.ts
Labels: Warlock

#930 fix dot mage crit metrics
  sim/mage/combustion.go
  sim/mage/living_bomb.go
Labels: Mage

#932 [Pala] Some gui fixes
  ui/core/talents/trees/paladin.json
  ui/paladin/protection/presets.ts
  ui/paladin/protection/sim.ts
Labels: Paladin

#934 Small style tweaks on results refactor
  ui/core/components/raid_sim_action.tsx
  ui/scss/core/components/_detailed_results.scss
  ui/scss/core/components/detailed_results/_topline_results.scss
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#935 [Warlock] Fix errors when no warlock pet selected in settings
  sim/warlock/demonology/demonology.go
  sim/warlock/summon_demon.go
  sim/warlock/talents_demonology.go
  ui/warlock/destruction/apls/default.apl.json
Labels: bug, Warlock

#939 Fix Sin and Punishment CD reduction
  sim/priest/shadow/TestShadow.results
  sim/priest/talents.go
Labels: Priest

#918 Allow Apparatus of Khaz'goroth to be used at any stack size
  sim/common/cata/other_effects.go
  sim/core/aura_helpers.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/survival/TestSV.results
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warrior/arms/TestArms.results
Labels: Hunter, Paladin, Druid, Rogue, Shaman, Warrior

#954 Display Spirit as Hit Rating for hybrid casters
  ui/druid/balance/sim.ts
  ui/priest/shadow/sim.ts
  ui/shaman/elemental/sim.ts
Labels: Priest, Druid, Shaman

#958 Feral Updates
  sim/death_knight/frost/TestFrost.results
  sim/druid/feral/TestFeral.results
  sim/druid/feral/rotation.go
  ui/core/launched_sims.ts
  ui/druid/feral/gear_sets/p1.gear.json
  ui/druid/feral/gear_sets/preraid.gear.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#962 [Prot] Add Prot Pala T12 set bonuses
  sim/paladin/divine_protection.go
  sim/paladin/items.go
  sim/paladin/paladin.go
  sim/paladin/retribution/TestRetribution.results
  ui/core/components/detailed_results/timeline.tsx
Labels: Paladin

#963 [Pala] Clean up timeline for prot and ret
  sim/paladin/guardian_of_ancient_kings.go
  ui/core/components/detailed_results/timeline.tsx
  ui/core/proto_utils/action_id.ts
Labels: Paladin

#964 Fix Variable Pulse Lightning Capacitor
  sim/common/cata/damage_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/mind_flay.go
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/shadow_test.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
Labels: Hunter, Mage, Paladin, Priest, Shaman, Warlock

#955 Add mage T12 bonuses + Fix Fire AOE
  sim/core/dot.go
  sim/mage/arcane/TestArcane.results
  sim/mage/arcane_blast.go
  sim/mage/arcane_missiles.go
  sim/mage/fire/TestFire.results
  sim/mage/flame_orb.go
  sim/mage/frostfire_orb.go
  sim/mage/items.go
  sim/mage/mage.go
  sim/mage/mirror_image.go
  sim/mage/mirror_image_t12.go
  sim/mage/talents_arcane.go
  sim/mage/talents_fire.go
  sim/mage/talents_frost.go
  ui/core/proto_utils/action_id.ts
Labels: Mage

#950 [DK][UH] Update sets and default talents
  sim/core/consumes.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  sim/druid/feral/rotation.go
  ui/death_knight/unholy/gear_sets/p1.bis.gear.json
  ui/death_knight/unholy/gear_sets/p1.gear.json
  ui/death_knight/unholy/gear_sets/p1.prebis.gear.json
  ui/death_knight/unholy/gear_sets/p1.realistic-bis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight, Druid

#970 [Priest] Fixes for Mastery and Sear refactor
  sim/death_knight/frost/TestFrost.results
  sim/priest/mind_sear.go
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/shadow.go
Labels: Priest

#971 [UI][PRIEST] Add reforge Mastery breakpoints
  ui/priest/shadow/sim.ts
Labels: Priest

#972 [FIX][MAGE] HS T3 piercing ice
  sim/mage/fire/TestFire.results
  sim/mage/items.go
  sim/mage/talents_fire.go
Labels: Mage

#977 [Balance] add the T12 preset to the list of presets
  ui/druid/balance/sim.ts
Labels: Druid

#978 [UI] Disable casts tooltip on passive spells
  sim/warrior/items.go
  ui/core/components/detailed_results/damage_metrics.tsx
  ui/core/components/detailed_results/dtps_metrics.tsx
Labels: Warrior

#975 [UI] Preset configurations
  ui/core/components/importers.tsx
  ui/core/components/individual_sim_ui/gear_tab.ts
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/core/components/individual_sim_ui/rotation_tab.tsx
  ui/core/components/individual_sim_ui/settings_tab.ts
  ui/core/components/individual_sim_ui/talents_tab.ts
  ui/core/encounter.ts
  ui/core/individual_sim_ui.tsx
  ui/core/preset_utils.tsx
  ui/core/proto_utils/stats.ts
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
  ui/warrior/fury/presets.ts
  ui/warrior/fury/sim.ts
Labels: Death Knight, Druid, Warrior

#980 [UI] Merge T12 Passive procs
  sim/hunter/cata_items.go
  sim/paladin/items.go
  sim/warrior/items.go
  ui/core/proto_utils/action_id.ts
Labels: Hunter, Paladin, Warrior

#982 [FIX] Arcane - Faulty EP post cap code
  ui/mage/arcane/sim.ts
Labels: Mage

#983 Revert "[FIX] Arcane - Faulty EP post cap code"
  ui/mage/arcane/sim.ts
Labels: Mage

#984 [FIX] Arcane EP
  sim/mage/arcane/TestArcane.results
  ui/mage/arcane/gear_sets/p1_arcane.gear.json
  ui/mage/arcane/presets.ts
Labels: Mage

#986 [Ret] Combine Glyph of Exorcism within Exorcism in damage breakdown
  sim/paladin/glyphs.go
  ui/core/proto_utils/action_id.ts
Labels: Paladin

#988 Replenishment fix
  sim/core/buffs.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  ui/paladin/retribution/sim.ts
Labels: Mage, Paladin, Priest, Druid, Shaman, Warlock

#990 [Ret] Update existing presets and add T12
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  ui/paladin/retribution/gear_sets/preraid.gear.json
  ui/paladin/retribution/gear_sets/t11_bis.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin
