Repository wowsims/cata, pull requests merged in 2024-12, with the labels that each got.

#1240 [Rogue] Fix auto EP selection for Combat
  ui/rogue/combat/sim.ts
Labels: Rogue

#1244 [Ret] Remove unavailable items from P4 bis set
  sim/paladin/retribution/TestRetribution.results
  ui/paladin/retribution/gear_sets/p4_bis.gear.json
Labels: Paladin

#1245 [WARRIOR] Update APL
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/apls/arms.apl.json
Labels: Warrior

#1247 [WARLOCK] DS:FG Change CastTime mod to CastSpeed
  sim/warlock/demon_soul.go
  sim/warlock/demonology/TestDemonology.results
Labels: Warlock

#1249 Various survival fixes and T12 fix
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/serpent_sting.go
  sim/hunter/survival/TestSV.results
  sim/hunter/survival/black_arrow.go
  sim/hunter/survival/explosive_shot.go
  ui/core/components/detailed_results/timeline.tsx
  ui/core/proto_utils/action_id.ts
  ui/hunter/survival/gear_sets/preraid_sv.gear.json
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
Labels: Hunter

#1250 Fix lnl consume
  sim/hunter/cata_items.go
  sim/hunter/survival/TestSV.results
  sim/hunter/survival_talents.go
Labels: Hunter

#1255 [Unholy] Update APL
  sim/death_knight/unholy/TestUnholy.results
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#1257 BM and Pet and KC updates
  sim/core/focus.go
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/beast_mastery/beast_mastery.go
  sim/hunter/bm_talents.go
  sim/hunter/kill_command.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/pet.go
  sim/hunter/pet_abilities.go
  sim/hunter/pet_talents.go
  sim/hunter/survival/TestSV.results
Labels: Hunter

#1260 Feral Rotation Updates
  proto/apl.proto
  proto/druid.proto
  sim/druid/feral/TestFeral.results
  sim/druid/feral/apl_values.go
  sim/druid/feral/feral_test.go
  sim/druid/feral/rotation.go
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/apls/monocat.apl.json
  ui/druid/feral/inputs.ts
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#1259 [Ret] Some spell mod bug fixes
  sim/core/test_result_compare.go
  sim/paladin/ancient_guardian_pet.go
  sim/paladin/items.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/talents_protection.go
  ui/paladin/retribution/presets.ts
Labels: Paladin

#1263 [Hunter] Implement Dec 11 hotfixes
  sim/core/attack.go
  sim/hunter/aspects.go
  sim/hunter/cata_items.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/marksmanship/aimed_shot.go
  sim/hunter/survival/TestSV.results
Labels: Hunter

#1264 Feral Rotation Updates
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral.go
  sim/druid/feral/rotation.go
Labels: Druid

#1266 Feral Rotation Updates
  sim/druid/feral/TestFeral.results
  sim/druid/feral/apl_values.go
  sim/druid/feral/rotation.go
  sim/druid/feral/rotation_aoe.go
Labels: Druid

#1237 [Warrior] Implement charge as an actual movement out and back in
  sim/common/cata/enchant_effects.go
  sim/common/cata/metagems.go
  sim/core/apl_actions_misc.go
  sim/core/movement.go
  sim/core/spell.go
  sim/death_knight/presences.go
  sim/druid/forms.go
  sim/paladin/talents_retribution.go
  sim/rogue/talents.go
  sim/warrior/arms/TestArms.results
  sim/warrior/arms/mortal_strike.go
  sim/warrior/charge.go
  sim/warrior/colossus_smash.go
  sim/warrior/execute.go
  sim/warrior/fury/bloodthirst.go
  sim/warrior/fury/raging_blow.go
  sim/warrior/heroic_strike_cleave.go
  sim/warrior/heroic_throw.go
  sim/warrior/overpower.go
  sim/warrior/protection/concussion_blow.go
  sim/warrior/protection/devastate.go
  sim/warrior/protection/shield_slam.go
  sim/warrior/rend.go
  sim/warrior/revenge.go
  sim/warrior/shattering_throw.go
  sim/warrior/slam.go
  sim/warrior/sunder_armor.go
  sim/warrior/warrior.go
  ui/core/proto_utils/action_id.ts
  ui/warrior/arms/apls/arms.apl.json
  ui/warrior/arms/presets.ts
Labels: Paladin, Druid, Rogue, Warrior

#1267 Feral Rotation Updates
  sim/druid/feral/TestFeral.results
  sim/druid/feral/apl_values.go
  sim/druid/feral/rotation.go
  ui/druid/feral/apls/aoe.apl.json
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/apls/monocat.apl.json
  ui/druid/feral/sim.ts
Labels: Druid

#1268 [Warrior] Add Glyph of Rapid Charge
  sim/warrior/glyphs.go
Labels: Warrior

#1270 [Warrior] Fix Rend damage formula
  sim/warrior/arms/TestArms.results
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/rend.go
Labels: Warrior

#1271 Rename Enh Draenei set to non-orc
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement_test.go
  ui/shaman/enhancement/gear_sets/p1.draenei.gear.json
  ui/shaman/enhancement/gear_sets/p1.non-orc.gear.json
  ui/shaman/enhancement/gear_sets/p3.non-orc.gear.json
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
Labels: Shaman

#1272 [Enha] Use correct Agile meta instead of Chaotic
  sim/shaman/enhancement/TestEnhancement.results
  ui/shaman/enhancement/gear_sets/p1.non-orc.gear.json
  ui/shaman/enhancement/gear_sets/p1.orc.gear.json
  ui/shaman/enhancement/gear_sets/p3.non-orc.gear.json
  ui/shaman/enhancement/gear_sets/p3.orc.gear.json
  ui/shaman/enhancement/gear_sets/preraid.gear.json
Labels: Shaman

#1274 [Frost] Update P3 bis set
  sim/death_knight/frost/TestFrost.results
  ui/death_knight/frost/gear_sets/p3.masterfrost.gear.json
Labels: Death Knight

#1277 [Rogue] Updates to Asn EP weights and P4 Subtlety gearset
  sim/death_knight/unholy/TestUnholy.results
  sim/rogue/subtlety/TestSubtlety.results
  ui/rogue/assassination/presets.ts
  ui/rogue/subtlety/gear_sets/p4_subtlety.gear.json
Labels: Rogue

#1279 [Frost] Update Frost DK APL
  sim/death_knight/frost/TestFrost.results
  ui/death_knight/frost/apls/masterfrost.apl.json
Labels: Death Knight

#1281 [Ret] Rework APL to better align with second Guardian
  sim/core/apl_value.go
  sim/paladin/retribution/TestRetribution.results
  ui/core/components/detailed_results/timeline.tsx
  ui/core/proto_utils/action_id.ts
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin
