Repository wowsims/cata, pull requests merged in 2024-07, with the labels that each got.

#852 [SHAMAN] Enhancement - Suggest reforge and EPs
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
Labels: Shaman

#854 [MAGE] Remove suggest reforge experimental flag
  ui/mage/arcane/sim.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#746 [Core] Cooldown, Rounding for Cast Time and GCD
  sim/core/cast.go
  sim/core/gcd.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/druid/feral/TestFeral.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/talents.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
Labels: Mage, Paladin, Priest, Druid, Shaman, Warlock

#862 [WARRIOR] Update Arms BIS presets
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/gear_sets/p1_arms_bis.gear.json
  ui/warrior/arms/gear_sets/p1_arms_realistic_bis.gear.json
  ui/warrior/arms/presets.ts
  ui/warrior/arms/sim.ts
Labels: Warrior

#867 warlock: fix mastery coef for affli 1.63 -> 1.625
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/affliction.go
  ui/core/constants/mechanics.ts
Labels: Warlock

#888 [MAGE] Add tw/heroism check to breakpoints
  ui/mage/fire/sim.tsx
Labels: Mage

#890 [Paladin] Fix builder cooldown bug and TotT for Ret
  sim/paladin/crusader_strike.go
  sim/paladin/paladin.go
  sim/paladin/talents_protection.go
  sim/paladin/talents_retribution.go
  ui/paladin/retribution/apls/default.apl.json
Labels: Paladin
