Repository wowsims/cata, pull requests merged in 2024-10, with the labels that each got.

#1066 [MAGE] Fix Fire APL excluding non-troll
  sim/mage/fire/TestFire.results
  sim/mage/fire/fire_test.go
  ui/mage/fire/apls/fire.apl.json
Labels: Mage

#1067 [SHAMAN] P3 tweaks
  sim/shaman/chain_lightning.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  ui/shaman/elemental/gear_sets/p3.aoe-tidefury.gear.json
  ui/shaman/elemental/gear_sets/p3.cleave-aoe.gear.json
  ui/shaman/elemental/gear_sets/p3.default.gear.json
  ui/shaman/elemental/presets.ts
  ui/shaman/elemental/sim.ts
Labels: Shaman

#1059 [Item] Add all phase 4 trinkets including item notices
  sim/common/cata/other_effects.go
  sim/common/cata/stat_bonus_cds.go
  sim/common/cata/stat_bonus_procs.go
  sim/common/cata/stat_bonus_stacking.go
  sim/core/aura_helpers.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/druid/savage_defense.go
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/constants/item_notices.tsx
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1070 Fix T12 procs Hunter
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/kill_command.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
Labels: Hunter

#1071 [Paladin] Add prot pala T13 and reduce ret test complexity
  sim/paladin/items.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
Labels: Paladin

#1075 Allow specs to selectively hide MCDs from the Simple Cooldowns UI
  ui/core/components/individual_sim_ui/cooldowns_picker.ts
  ui/core/player.ts
  ui/druid/feral/sim.ts
Labels: Druid

#1077 Add Enhance P3
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement_test.go
  ui/shaman/enhancement/apls/default.apl.json
  ui/shaman/enhancement/gear_sets/p1.draenei.gear.json
  ui/shaman/enhancement/gear_sets/p1.orc.gear.json
  ui/shaman/enhancement/gear_sets/p3.draenei.gear.json
  ui/shaman/enhancement/gear_sets/p3.orc.gear.json
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
Labels: Shaman

#1083 [SHAMAN] Improve Elemental APL
  sim/shaman/elemental/TestElemental.results
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
Labels: Shaman

#1084 [SHADOW] Fix reforges
  sim/priest/shadow/TestShadow.results
  ui/priest/shadow/gear_sets/p3.gear.json
Labels: Priest

#1076 [MAGE] Add mage combust threshold simple rotation
  proto/mage.proto
  sim/mage/fire/TestFire.results
  sim/mage/fire/fire_test.go
  ui/core/components/individual_sim_ui/cooldowns_picker.ts
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/core/components/input.tsx
  ui/core/components/input_helpers.ts
  ui/core/components/pickers/number_picker.ts
  ui/mage/fire/apls/fire.apl.json
  ui/mage/fire/inputs.ts
  ui/mage/fire/inputs.tsx
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
  ui/scss/core/components/_input.scss
Labels: Mage

#1085 Feature/mage simple apl
  ui/mage/fire/inputs.tsx
Labels: Mage

#1082 [DK] RP out-of-combat decay and other goodies
  sim/core/runic_power.go
  sim/death_knight/anti_magic_shell.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/death_coil.go
  sim/death_knight/death_knight.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/items.go
  sim/death_knight/talents_blood.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/apls/st.apl.json
  ui/death_knight/unholy/gear_sets/p3.bis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#1087 Beth'tilac preset update after PTR tuning
  assets/database/db.bin
  assets/database/db.json
  proto/common.proto
  sim/core/buffs.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/druid/talents.go
  sim/encounters/firelands/bethtilac_ai.go
  ui/core/components/inputs/buffs_debuffs.ts
  ui/druid/guardian/apls/bethtilac.apl.json
  ui/druid/guardian/presets.ts
Labels: Druid

#1093 Add Arcane P3 presets
  sim/mage/arcane/TestArcane.results
  sim/mage/arcane/arcane_test.go
  ui/core/player_classes/mage.ts
  ui/mage/arcane/gear_sets/p1.gear.json
  ui/mage/arcane/gear_sets/p3.gear.json
  ui/mage/arcane/gear_sets/prebis.gear.json
  ui/mage/arcane/presets.ts
  ui/mage/arcane/sim.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#1094 [CORE] Fix simple casts going on CD
  sim/core/cast.go
  sim/warlock/demonology/TestDemonology.results
Labels: Warlock

#1096 Fix artificial Haste breakpoints in tank survival sims
  sim/core/apl_actions_casting.go
  sim/core/flags.go
  sim/core/major_cooldown.go
  sim/death_knight/blood/TestBlood.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/druid/talents.go
  sim/encounters/firelands/bethtilac_ai.go
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/druid/guardian/apls/bethtilac.apl.json
  ui/druid/guardian/gear_sets/p3.gear.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
Labels: Paladin, Druid, Rogue, Warrior

#1089 Add custom APL Mage Combust value
  proto/apl.proto
  proto/mage.proto
  sim/core/dot.go
  sim/mage/apl_values.go
  sim/mage/combustion.go
  sim/mage/fire/TestFire.results
  sim/mage/mage.go
  ui/core/components/detailed_results/log_runner.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/core/components/individual_sim_ui/gear_tab.ts
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/core/components/individual_sim_ui/rotation_tab.tsx
  ui/core/components/individual_sim_ui/settings_tab.ts
  ui/core/components/individual_sim_ui/talents_tab.ts
  ui/core/preset_utils.tsx
  ui/mage/fire/apls/fire.apl.json
  ui/mage/fire/inputs.tsx
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#1097 Fix block scoping for item version variable
  sim/common/cata/other_effects.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1098 Update Arcane P3
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/items.go
  sim/mage/mage.go
  sim/mage/mirror_image_t12.go
  sim/mage/talents_arcane.go
  ui/mage/arcane/gear_sets/p1.gear.json
  ui/mage/arcane/gear_sets/p3.gear.json
  ui/mage/arcane/presets.ts
  ui/mage/arcane/sim.ts
Labels: Mage

#1099 [Blood] Update P1 preset, add P3 preset, update APLs
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/blood/blood_test.go
  sim/death_knight/death_pact.go
  sim/death_knight/death_strike.go
  ui/death_knight/blood/apls/defensive.apl.json
  ui/death_knight/blood/apls/simple.apl.json
  ui/death_knight/blood/gear_sets/p1.gear.json
  ui/death_knight/blood/gear_sets/p3-balanced.gear.json
  ui/death_knight/blood/presets.ts
  ui/death_knight/blood/sim.ts
Labels: Death Knight

#1101 [Blood] Move Death Pact hp check to APL
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/death_pact.go
  ui/death_knight/blood/apls/defensive.apl.json
  ui/death_knight/blood/apls/simple.apl.json
Labels: Death Knight

#1103 [Blood] Add Defensive and Offensive P3 presets
  ui/death_knight/blood/gear_sets/p3-defensive.gear.json
  ui/death_knight/blood/gear_sets/p3-offensive.gear.json
  ui/death_knight/blood/presets.ts
  ui/death_knight/blood/sim.ts
Labels: Death Knight

#1104 Add Glyph of Unleashed Lightning
  sim/shaman/lightning_bolt.go
Labels: Shaman

#1102 Add most DS weapons
  sim/common/cata/other_effects.go
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/frost/frost.go
  sim/death_knight/frost/frost_test.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/components/detailed_results/timeline.tsx
  ui/core/constants/item_notices.tsx
  ui/core/proto_utils/action_id.ts
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1106 warlock: fix burning embers trigger damage not counting
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/pets.go
  sim/warlock/talents_destruction.go
Labels: Warlock

#1107 [Ret] Tweak some presets and tier bonuses
  sim/paladin/exorcism.go
  sim/paladin/guardian_of_ancient_kings.go
  sim/paladin/hammer_of_wrath.go
  sim/paladin/judgement.go
  sim/paladin/protection/avengers_shield.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  sim/paladin/talents_protection.go
  ui/core/constants/item_notices.tsx
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/t13-apparatus.apl.json
  ui/paladin/retribution/gear_sets/p2_bis.gear.json
  ui/paladin/retribution/gear_sets/p3_bis.gear.json
  ui/paladin/retribution/gear_sets/p4_bis.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#1113 [Unholy] Update presets and APLs
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  ui/death_knight/unholy/apls/default.apl.json
  ui/death_knight/unholy/apls/solace.apl.json
  ui/death_knight/unholy/apls/st.apl.json
  ui/death_knight/unholy/gear_sets/p1.realistic-bis.gear.json
  ui/death_knight/unholy/gear_sets/p2.bis.gear.json
  ui/death_knight/unholy/gear_sets/p3.bis.gear.json
  ui/death_knight/unholy/gear_sets/prebis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin, Death Knight

#1115 [Elemental] Fulmination does not consume/proc clearcasting
  sim/shaman/elemental/TestElemental.results
  sim/shaman/talents.go
Labels: Shaman

#1117 Some trinket and T12 fixes after PTR testing
  sim/common/cata/other_effects.go
  sim/common/cata/stat_bonus_stacking.go
  sim/death_knight/frost/TestFrost.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/items.go
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Warrior

#1110 Add ability to limit breakpoint capping
  proto/ui.proto
  ui/core/components/suggest_reforges_action.tsx
  ui/core/individual_sim_ui.tsx
  ui/core/player.ts
  ui/core/proto_utils/stats.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#1119 [MAGE] Fix T3 HS formula
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/items.go
  sim/mage/mage.go
  sim/mage/talents_fire.go
  sim/mage/talents_frost.go
  ui/mage/arcane/sim.ts
  ui/mage/fire/sim.tsx
  ui/mage/frost/sim.ts
  ui/mage/shared.ts
Labels: Mage

#1121 [Paladin] Some fixes and tweaks
  sim/paladin/items.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/seal_of_truth.go
  ui/core/components/individual_sim_ui/preset_configuration_picker.tsx
  ui/core/preset_utils.tsx
  ui/paladin/retribution/apls/t13-apparatus.apl.json
  ui/paladin/retribution/apls/t13.apl.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#1120 Ignite set bonus updates after PTR testing
  sim/common/cata/other_effects.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/constants/item_notices.tsx
Labels: Paladin, Druid, Rogue, Warrior

#1122 [Elemental] Update to 4PT12 based on ptr testing
  sim/common/cata/damage_procs.go
  sim/shaman/chain_lightning.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/thunderstorm.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/fire_totems.go
  sim/shaman/firenova.go
  sim/shaman/items.go
  sim/shaman/lavaburst.go
  sim/shaman/lightning_bolt.go
  sim/shaman/shocks.go
  sim/shaman/talents.go
  sim/shaman/unleash_elements.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
Labels: Shaman, Warlock

#1123 Port proc changes from SoD
  sim/common/cata/damage_procs.go
  sim/common/cata/enchant_effects.go
  sim/common/cata/other_effects.go
  sim/common/cata/stat_bonus_procs.go
  sim/common/cata/stat_bonus_stacking.go
  sim/common/wotlk/_highest_stat_effects.go
  sim/common/wotlk/_metagems.go
  sim/common/wotlk/_stat_bonus_stacking.go
  sim/common/wotlk/capacitors.go
  sim/common/wotlk/enchant_effects.go
  sim/common/wotlk/other_effects.go
  sim/common/wotlk/shadowmourne.go
  sim/common/wotlk/stat_bonus_procs.go
  sim/core/flags.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/talents_blood.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/scourge_strike.go
  sim/druid/balance/TestBalance.results
  sim/druid/hurricane.go
  sim/druid/starfall.go
  sim/druid/starfire.go
  sim/druid/talents.go
  sim/mage/arcane_missiles.go
  sim/mage/blizzard.go
  sim/mage/flame_orb.go
  sim/mage/frostfire_orb.go
  sim/paladin/seal_of_justice.go
  sim/paladin/seal_of_righteousness.go
  sim/priest/mind_sear.go
  sim/priest/talents.go
  sim/rogue/poisons.go
  sim/shaman/electric_spell.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/lavaburst.go
  sim/shaman/talents.go
  sim/shaman/weapon_imbues.go
Labels: Mage, Paladin, Priest, Druid, Rogue, Shaman

#1118 [Rogue] Update T124P to proc on TotT cast
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/items.go
  sim/rogue/subtlety/TestSubtlety.results
Labels: Rogue

#989 [Item] Dragonwrath, Tarecgosa's Rest
  sim/common/cata/damage_procs.go
  sim/common/cata/dragonwrath.go
  sim/common/cata/stat_bonus_procs.go
  sim/common/shared/shared_utils.go
  sim/core/buffs.go
  sim/core/dot.go
  sim/core/flags.go
  sim/core/spell.go
  sim/core/spell_mod.go
  sim/core/spell_outcome.go
  sim/core/spell_result.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance.go
  sim/druid/balance/dragonwrath.go
  sim/druid/eclipse.go
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/druid/hurricane.go
  sim/druid/wild_mushrooms.go
  sim/encounters/firelands/bethtilac_ai.go
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/hunter/survival_talents.go
  sim/mage/arcane/TestArcane.results
  sim/mage/arcane/dragonwrath.go
  sim/mage/blast_wave.go
  sim/mage/combustion.go
  sim/mage/fire/TestFire.results
  sim/mage/fire/dragonwrath.go
  sim/mage/flamestrike.go
  sim/mage/talents_fire.go
  sim/paladin/retribution/TestRetribution.results
  sim/priest/glyphs.go
  sim/priest/mind_blast.go
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/dragonwrath.go
  sim/priest/shadow/shadow.go
  sim/shaman/chain_lightning.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/dragonwrath.go
  sim/shaman/elemental/elemental.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/lavaburst.go
  sim/shaman/lightning_bolt.go
  sim/shaman/talents.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/dragonwrath.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/dragonwrath.go
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/destruction/dragonwrath.go
  sim/warlock/drain_soul.go
  sim/warrior/arms/talents.go
  ui/core/constants/item_notices.tsx
  ui/core/proto_utils/action_id.ts
  ui/druid/balance/apls/t12.apl.json
  ui/druid/balance/gear_sets/t12.gear.json
Labels: Hunter, Mage, Paladin, Priest, Druid, Shaman, Warlock, Warrior

#1128 [Shadow] Added missing mod activation for Mind Melt
  sim/priest/shadow/TestShadow.results
  sim/priest/talents.go
Labels: Priest

#1129 [Survival] Fix T12 interaction with AS and update APL preset
  sim/hunter/cata_items.go
  sim/hunter/survival/TestSV.results
  ui/hunter/survival/apls/sv.apl.json
Labels: Hunter

#1111 [Feature] Apl Aura/CD Sets
  proto/apl.proto
  sim/common/cata/enchant_effects.go
  sim/common/cata/other_effects.go
  sim/common/shared/shared_utils.go
  sim/common/wotlk/enchant_effects.go
  sim/common/wotlk/other_effects.go
  sim/core/apl.go
  sim/core/apl_action.go
  sim/core/apl_actions_casting.go
  sim/core/apl_actions_sequences.go
  sim/core/apl_helpers.go
  sim/core/apl_value.go
  sim/core/apl_values_aura_sets.go
  sim/core/aura_helpers.go
  sim/core/character.go
  sim/core/environment.go
  sim/core/major_cooldown.go
  sim/core/racials.go
  sim/core/stats/stats.go
  sim/core/utils.go
  sim/death_knight/talents_unholy.go
  sim/druid/feral/apl_values.go
  sim/hunter/aspects.go
  sim/hunter/hunter.go
  sim/mage/mage.go
  sim/shaman/elemental/TestElemental.results
  sim/warlock/demonology/TestDemonology.results
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/core/components/individual_sim_ui/apl_helpers.tsx
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
  ui/shaman/elemental/apls/unleash.apl.json
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
Labels: Hunter, Mage, Druid, Shaman, Warlock

#1125 Add Gurthalak, Voice of the Deeps
  sim/common/cata/gurthalak.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/death_knight.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/talents_unholy.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy.go
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/paladin.go
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/combat_test.go
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/fury/death_wish.go
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/protection/protection_test.go
  sim/warrior/warrior.go
  ui/core/constants/item_notices.tsx
  ui/core/proto_utils/action_id.ts
Labels: Hunter, Mage, Paladin, Rogue, Warrior

#1130 [Ret] Update presets and APLs
  sim/paladin/retribution/TestRetribution.results
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/apls/t13.apl.json
  ui/paladin/retribution/gear_sets/p3_bis.gear.json
  ui/paladin/retribution/presets.ts
Labels: Paladin

#1131 [Arcane] Fix DTR proc rate for arcane
  sim/mage/arcane/TestArcane.results
  sim/mage/arcane/dragonwrath.go
Labels: Mage

#1127 [DRUID] Adjust T11 APL
  sim/druid/balance/TestBalance.results
  ui/druid/balance/apls/t11.apl.json
Labels: Druid

#1133 [Pala] Metrics and APL updates
  sim/paladin/holy_power.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/seal_of_truth.go
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/apls/t13.apl.json
Labels: Paladin

#1132 Add Balance mastery flooring
  sim/core/apl_values_aura_sets.go
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance_test.go
  sim/druid/eclipse.go
  ui/druid/balance/gear_sets/t11.gear.json
  ui/druid/balance/gear_sets/t12.gear.json
  ui/druid/balance/presets.ts
  ui/druid/balance/sim.ts
Labels: Druid

#1138 [Paladin] Fix cast metrics for Judgement
  sim/paladin/judgement.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/seal_of_insight.go
  sim/paladin/seal_of_justice.go
  sim/paladin/seal_of_righteousness.go
  sim/paladin/seal_of_truth.go
Labels: Paladin

#1135 [Balance] Adjustments to T12 2P based on PTR data
  sim/druid/balance/TestBalance.results
  sim/druid/burning_treant.go
  ui/core/proto_utils/action_id.ts
Labels: Druid

#1139 [MAGE] APL improvements
  sim/mage/fire/TestFire.results
  ui/mage/fire/apls/fire.apl.json
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#1140 [Mage] Adjust T12 MI crit chance
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/mirror_image_t12.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/items.go
Labels: Mage, Warlock

#1136 [Elemental] Some changes to dtr aoe spells and bug fixes
  sim/common/cata/dragonwrath.go
  sim/common/cata/stat_bonus_procs.go
  sim/druid/balance/TestBalance.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/chain_lightning.go
  sim/shaman/earthquake.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/dragonwrath.go
  sim/shaman/items.go
  sim/shaman/lavaburst.go
  sim/shaman/lightning_bolt.go
  sim/shaman/talents.go
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Shaman, Warlock

#1141 [Balance] T12 gear preset and APL updates
  sim/druid/balance/TestBalance.results
  ui/druid/balance/apls/t12.apl.json
  ui/druid/balance/gear_sets/t12.gear.json
Labels: Druid

#1142 Move Feral + Guardian sims to Phase 3
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral_test.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/tank_test.go
  ui/core/constants/other.ts
  ui/core/individual_sim_ui.tsx
  ui/core/launched_sims.ts
  ui/core/player_classes/druid.ts
  ui/druid/feral/gear_sets/preraid.gear.json
  ui/druid/feral/presets.ts
  ui/druid/guardian/gear_sets/preraid.gear.json
  ui/druid/guardian/presets.ts
Labels: Druid

#1144 [Ret] Move Retribution Paladin to phase 3
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  ui/core/launched_sims.ts
  ui/paladin/retribution/apls/apparatus.apl.json
  ui/paladin/retribution/apls/default.apl.json
  ui/paladin/retribution/apls/t13.apl.json
  ui/paladin/retribution/gear_sets/preraid.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#1143 Standardize default fight length across sims
  ui/core/encounter.ts
  ui/core/individual_sim_ui.tsx
  ui/druid/feral/presets.ts
  ui/hunter/beast_mastery/presets.ts
  ui/hunter/marksmanship/presets.ts
  ui/hunter/survival/presets.ts
  ui/paladin/retribution/presets.ts
  ui/rogue/assassination/presets.ts
  ui/rogue/combat/presets.ts
  ui/rogue/subtlety/presets.ts
  ui/shaman/elemental/presets.ts
  ui/shaman/enhancement/presets.ts
  ui/warlock/affliction/presets.ts
  ui/warlock/demonology/presets.ts
  ui/warlock/destruction/presets.ts
Labels: Hunter, Paladin, Druid, Rogue, Shaman, Warlock

#1146 warlock: remove mastery flooring for meta and affliction
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/affliction.go
  sim/warlock/affliction/affliction_test.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/demonology_test.go
  sim/warlock/demonology/metamorphosis.go
  sim/warlock/glyphs.go
Labels: Warlock

#1147 [UI][CORE] Remove mastery flooring from all non-warlock classes
  proto/ui.proto
  sim/druid/balance/TestBalance.results
  sim/druid/eclipse.go
  sim/mage/fire/TestFire.results
  sim/mage/fire/fire.go
  sim/mage/talents_fire.go
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/shadow.go
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/subtlety.go
  ui/druid/balance/gear_sets/t12.gear.json
  ui/druid/balance/sim.ts
  ui/mage/fire/gear_sets/p3_fire.gear.json
  ui/mage/fire/sim.tsx
  ui/priest/shadow/sim.ts
  ui/rogue/assassination/gear_sets/p1_assassination.gear.json
  ui/rogue/assassination/gear_sets/p3_assassination.gear.json
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/sim.ts
Labels: Mage, Priest, Druid, Rogue

#1148 [Unholy] Move Unholy Death Knight to phase 3
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  ui/core/launched_sims.ts
  ui/death_knight/unholy/apls/default.apl.json
  ui/death_knight/unholy/apls/solace.apl.json
  ui/death_knight/unholy/gear_sets/prebis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight
