Repository wowsims/cata, pull requests merged in 2025-03, with the labels that each got.

#1434 fix hunter Killing Streak without pet selected
  sim/hunter/bm_talents.go
Labels: bug, Hunter

#1443 Fix Armor Spec check and tiktok staff proc condition
  sim/common/cata/other_effects.go
  sim/common/cata/stat_bonus_procs.go
  sim/core/character.go
  sim/core/constants.go
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/priest/shadow/TestShadow.results
  sim/shaman/elemental/TestElemental.results
Labels: Hunter, Mage, Priest, Druid, Shaman

#1444 Add shared CD and mana cost exclusive effect
  sim/core/buffs.go
  sim/mage/arcane/TestArcane.results
  sim/mage/mage.go
  sim/mage/talents_arcane.go
Labels: Mage

#1445 Update Arcane APL
  sim/mage/arcane/TestArcane.results
  ui/mage/arcane/apls/arcane.apl.json
Labels: Mage

#1449 [Rogue] I did something dumb
  sim/rogue/poisons.go
Labels: Rogue

#1450 Fix CD reduction calculation
  sim/mage/arcane/TestArcane.results
  sim/mage/talents_arcane.go
  ui/mage/arcane/apls/arcane.apl.json
Labels: Mage

#1452 [Rogue] Add IP Variance; Change Deadly Poison tooltip
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/poisons.go
  sim/rogue/subtlety/TestSubtlety.results
Labels: Rogue

#1451 Add Item Swap and improved T13 APL
  sim/warlock/affliction/TestAffliction.results
  ui/warlock/affliction/apls/default.apl.json
  ui/warlock/affliction/gear_sets/p4_item_swap.gear.json
  ui/warlock/affliction/presets.ts
  ui/warlock/affliction/sim.ts
Labels: Warlock

#1453 [Rogue] Full item swaps for all specs
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/sim.ts
Labels: Rogue

#1455 Fix DTR dupe consuming backdraft
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/talents_destruction.go
Labels: Warlock

#1456 Fix Shadow Trance APL check
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/shadow-bolt.apl.json
Labels: Warlock

#1467 Add Item Swap slots to BDK sim
  ui/death_knight/blood/sim.ts
Labels: Death Knight
