Repository wowsims/cata, pull requests merged in 2025-05, with the labels that each got.

#1484 [Feature] Allow floats for BaseManaCostPct
  sim/core/mana.go
  sim/shaman/electric_spell.go
  sim/shaman/lavaburst.go
  sim/shaman/shocks.go
  sim/shaman/totems.go
Labels: Shaman

#1495 Fix incorrect proc data for The Hungerer (H) and Idol of Battle trinkets
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warrior

#1497 Fix incorrect proc data for Fall of Mortality and Coren's Chilled Chromium Coaster trinkets
  sim/common/cata/stat_bonus_procs.go
  sim/druid/feral/TestFeral.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
Labels: Hunter, Druid

#1498 Automated unit testing for all registered enchant effects
  proto/common.proto
  sim/common/wotlk/enchant_effects.go
  sim/core/database.go
  sim/core/database_load.go
  sim/core/item_effects.go
  sim/core/test_generators.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/lib/library.go
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1499 Fix incorrect proc data for Heartsong and Gnomish X-Ray enchants
  sim/common/cata/enchant_effects.go
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
Labels: Hunter, Paladin, Priest, Druid

#1500 Feral Updates
  sim/druid/feral/TestFeral.results
  sim/druid/savage_roar.go
  ui/core/launched_sims.ts
  ui/druid/feral/gear_sets/p4.gear.json
  ui/druid/feral/gear_sets/preraid.gear.json
Labels: Druid

#1502 Miscellaneous trinket fixes
  sim/common/cata/stat_bonus_cds.go
  sim/common/shared/shared_utils.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
Labels: Hunter, Mage, Paladin, Druid, Rogue, Shaman, Warlock, Warrior

#1503 More trinket fixes
  sim/common/cata/stat_bonus_cds.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/mage/arcane/TestArcane.results
  sim/paladin/retribution/TestRetribution.results
  sim/shaman/elemental/TestElemental.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
Labels: Hunter, Mage, Paladin, Druid, Shaman, Warlock, Warrior
