Repository wowsims/cata, pull requests merged in 2025-04, with the labels that each got.

#1471 Make Blood Presence apply to character build phase
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/presences.go
  ui/death_knight/blood/sim.ts
Labels: Death Knight

#1474 Added nerf state selection to Blackhorn encounter settings
  assets/database/db.bin
  assets/database/db.json
  sim/encounters/dragonsoul/blackhorn_ai.go
  ui/druid/guardian/presets.ts
Labels: Druid

#1473 update bm kc talent
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/bm_talents.go
  sim/hunter/pet_abilities.go
Labels: Hunter

#1475 [Rogue] Allow Premed to cast during Shadowmeld
  sim/rogue/subtlety/premeditation.go
Labels: Rogue
