Repository wowsims/cata, pull requests merged in 2025-01, with the labels that each got.

#1283 [Balance] add missing missile speed to starsurge
  sim/druid/starsurge.go
Labels: Druid

#1288 Keep Energy and Focus tick randomized during reset actions.
  sim/core/energy.go
  sim/core/focus.go
  sim/death_knight/unholy/TestUnholy.results
  sim/hunter/beast_mastery/TestBM.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
Labels: Hunter, Rogue

#1194 [Balance] T13
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/items.go
  ui/druid/balance/gear_sets/t13.gear.json
  ui/druid/balance/presets.ts
Labels: Druid

#1290 Additional Spell Mods
  sim/core/aura.go
  sim/core/exclusive_effect.go
  sim/core/spell.go
  sim/core/spell_mod.go
  sim/death_knight/diseases.go
  sim/death_knight/talents_blood.go
  sim/death_knight/talents_unholy.go
  sim/druid/demoralizing_roar.go
  sim/druid/faerie_fire.go
  sim/druid/mangle.go
  sim/druid/talents.go
  sim/hunter/pet_abilities.go
  sim/rogue/expose_armor.go
  sim/rogue/subtlety/hemorrhage.go
  sim/rogue/subtlety/sanguinary_vein.go
  sim/warlock/affliction/haunt.go
  sim/warlock/curses.go
  sim/warlock/drain_soul.go
  sim/warrior/demoralizing_shout.go
  sim/warrior/protection/devastate.go
  sim/warrior/shattering_throw.go
  sim/warrior/shouts.go
  sim/warrior/sunder_armor.go
  sim/warrior/thunder_clap.go
Labels: Hunter, Druid, Rogue, Warlock, Warrior

#1291 Update Demonology to Haste default
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
  ui/warlock/demonology/gear_sets/p3.gear.json
  ui/warlock/demonology/presets.ts
  ui/warlock/demonology/sim.ts
Labels: Warlock

#1292 Adjust breakpoint calculation for Demo P3
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/gear_sets/p3.gear.json
  ui/warlock/demonology/presets.ts
  ui/warlock/demonology/sim.ts
Labels: Warlock

#1293 Set bonus RNG seed labeling change
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/unholy/TestUnholy.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/rogue/combat/TestCombat.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/items.go
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Rogue, Shaman, Warlock, Warrior

#1294 Fix Rogue 4pT13 to correctly add 9s to Vendetta duration
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/vendetta.go
Labels: Rogue

#1295 Implement Seal of the Seven Signs
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1296 Another benign RNG seed label change
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/cata_items.go
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
Labels: Hunter

#1297 [Frost] Update Frost DK APL
  sim/death_knight/frost/TestFrost.results
  ui/death_knight/frost/apls/masterfrost.apl.json
Labels: Death Knight

#1301 Add Shadow T13 set
  sim/priest/items.go
  sim/priest/priest.go
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/shadow.go
  sim/priest/shadowfiend_pet.go
Labels: Priest

#1307 Add back prepull Mastery for secondary trinket swaps during swapped prepull
  proto/warlock.proto
  sim/core/apl.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental_test.go
  ui/warlock/demonology/inputs.ts
  ui/warlock/demonology/sim.ts
  ui/warlock/inputs.ts
Labels: Shaman, Warlock

#1309 Undo Mastery input changes
  ui/warlock/demonology/inputs.ts
  ui/warlock/demonology/sim.ts
Labels: Warlock

#1310 Add full item swap to Sub sim
  sim/core/attack.go
  sim/rogue/poisons.go
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1314 [DK] Enable all item swap slots for FDK and UDK
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#1315 Fix tinker item swap timer
  sim/core/item_swaps.go
  sim/warlock/demonology/TestDemonology.results
  sim/warrior/fury/TestFury.results
Labels: Warlock, Warrior

#1316 Incin APL prepull SB
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/incinerate.apl.json
Labels: Warlock

#1318 [Feral] Add Energy check for initiating leave-weaves
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/feral/apl_values.go
  sim/druid/feral/feral.go
  sim/druid/feral/rotation.go
Labels: Druid

#1319 Add Shattering Throw raid buff
  proto/common.proto
  sim/core/armor_test.go
  sim/core/buffs.go
  sim/core/debuffs.go
  sim/warrior/glyphs.go
  sim/warrior/shattering_throw.go
  ui/core/components/inputs/buffs_debuffs.ts
  ui/core/proto_utils/action_id.ts
  ui/core/talents/warrior.ts
  ui/scss/core/components/_icon_picker.scss
Labels: Warrior

#1320 Nature's Majesty Bug Fix
  sim/druid/balance/TestBalance.results
  sim/druid/talents.go
  ui/druid/balance/sim.ts
Labels: Druid

#1322 [Feral] Talents Code Refactor
  sim/core/aura_helpers.go
  sim/core/character.go
  sim/druid/druid.go
  sim/druid/feral/feral.go
  sim/druid/forms.go
  sim/druid/guardian/tank.go
  sim/druid/talents.go
Labels: Druid

#1323 Add AP scaling to Vial of Shadows based on PTR testing
  sim/common/cata/other_effects.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Paladin, Druid, Rogue, Shaman, Warlock, Warrior

#1324 Feral T13 Implementation
  sim/druid/balance/TestBalance.results
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral_test.go
  sim/druid/guardian/TestGuardian.results
  sim/druid/items.go
  sim/druid/savage_defense.go
  sim/druid/tigers_fury.go
  ui/core/constants/item_notices.tsx
  ui/druid/feral/gear_sets/p4.gear.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#1325 Feral 4pT13 Rotation Adjustments
  sim/druid/feral/TestFeral.results
  sim/druid/feral/rotation.go
Labels: Druid

#1327 [Unholy] Update APL
  sim/death_knight/unholy/TestUnholy.results
  ui/death_knight/unholy/apls/default.apl.json
Labels: Death Knight

#1326 [Rogue] T13 Updates for EPs and Vial of Shadows
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/subtlety.go
  ui/rogue/assassination/gear_sets/p4_assassination.gear.json
  ui/rogue/assassination/presets.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/gear_sets/p4_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/apls/subtlety.apl.json
  ui/rogue/subtlety/apls/subtlety_mastery_prepull.apl.json
  ui/rogue/subtlety/gear_sets/p4_subtlety.gear.json
  ui/rogue/subtlety/presets.ts
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1329 Implement findings
  sim/common/cata/dragonwrath.go
  sim/core/spell_mod.go
  sim/druid/balance/TestBalance.results
  sim/druid/balance/dragonwrath.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/dragonwrath.go
Labels: Druid, Shaman

#1330 Refactor equip scaling code for higher performance and item swap compatibility
  sim/core/character.go
  sim/core/item_swaps.go
  sim/core/stats/stats.go
  sim/druid/forms.go
  sim/druid/talents.go
Labels: Druid

#1331 Re-use rotation action instead of re-allocating
  sim/core/gcd.go
  sim/core/pending_action.go
  sim/druid/feral/apl_values.go
  sim/druid/feral/feral.go
  sim/druid/feral/pooling_actions.go
  sim/druid/feral/rotation.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/killing_spree.go
  sim/web/main.go
Labels: Druid, Rogue

#1333 [Feral] Preset build for single target burst profile
  sim/druid/savage_roar.go
  ui/druid/feral/apls/tendon.apl.json
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#1334 [WARLOCK] P4 WIP
  sim/druid/feral/apl_values.go
  sim/druid/feral/rotation.go
  sim/druid/forms.go
  sim/druid/items.go
  sim/druid/talents.go
  sim/rogue/combat/killing_spree.go
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
  ui/warlock/demonology/gear_sets/p4.gear.json
  ui/warlock/demonology/gear_sets/p4_item_swap.gear.json
  ui/warlock/demonology/presets.ts
  ui/warlock/demonology/sim.ts
Labels: Druid, Rogue, Warlock
