Repository wowsims/cata, pull requests merged in 2025-02, with the labels that each got.

#1336 Fix mastery logic and slayers gear
  sim/core/spell_mod.go
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination.go
  sim/rogue/assassination/venomous_wounds.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/items.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/rogue/subtlety/shadowstep.go
  sim/rogue/subtlety/subtlety.go
Labels: Rogue

#1339 [TRINKETS] Apply correct proc masks
  sim/common/cata/stat_bonus_procs.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/balance/TestBalance.results
  sim/druid/feral/TestFeral.results
  sim/druid/guardian/TestGuardian.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
  sim/priest/shadow/TestShadow.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/destruction/TestDestruction.results
  sim/warrior/arms/TestArms.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Mage, Paladin, Priest, Druid, Rogue, Shaman, Warlock, Warrior

#1341 [DK] Enable spell crit debuff option
  ui/death_knight/blood/sim.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#1347 Feral Rotation Updates
  proto/druid.proto
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/apl_values.go
  sim/druid/feral/feral.go
  sim/druid/feral/rotation.go
  sim/druid/feral_charge.go
  sim/druid/shred.go
  ui/druid/feral/inputs.ts
  ui/druid/feral/sim.ts
Labels: Druid

#1344 Add P4 WIP Arms set
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/apls/arms.apl.json
  ui/warrior/arms/gear_sets/p4_arms_bis.gear.json
  ui/warrior/arms/gear_sets/p4_arms_item_swap.gear.json
  ui/warrior/arms/presets.ts
  ui/warrior/arms/sim.ts
Labels: Warrior

#1349 Increase T13 4PC duration
  sim/shaman/items.go
Labels: Shaman

#1340 Add activate all prepull items & modify trinkets to item/enchants
  proto/apl.proto
  sim/common/cata/enchant_effects.go
  sim/common/cata/other_effects.go
  sim/common/shared/shared_utils.go
  sim/core/apl_action.go
  sim/core/apl_actions_misc.go
  sim/core/apl_helpers.go
  sim/core/apl_value.go
  sim/core/apl_values_aura_sets.go
  sim/core/aura_helpers.go
  sim/core/character.go
  sim/core/item_swaps.go
  sim/mage/fire/TestFire.results
  sim/shaman/elemental/TestElemental.results
  sim/warlock/demonology/TestDemonology.results
  sim/warrior/fury/TestFury.results
  ui/core/components/individual_sim_ui/apl_actions.ts
  ui/core/components/individual_sim_ui/apl_values.ts
  ui/core/proto_utils/action_id.ts
  ui/mage/fire/apls/fire.apl.json
  ui/mage/fire/gear_sets/p4_fire_item_swap.gear.json
  ui/mage/fire/presets.ts
  ui/mage/fire/sim.tsx
  ui/shaman/elemental/apls/aoe.apl.json
  ui/shaman/elemental/apls/default.apl.json
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
  ui/warrior/fury/apls/smf.apl.json
  ui/warrior/fury/apls/tg.apl.json
Labels: Mage, Shaman, Warlock, Warrior

#1350 Druid class mask fixes
  sim/druid/balance/TestBalance.results
  sim/druid/druid.go
  sim/druid/talents.go
Labels: Druid

#1343 Remove TD and TF Priest Spell Masks
  sim/priest/shadow/TestShadow.results
  sim/priest/talents.go
Labels: Priest

#1352 Sunder to Faerie Fire default
  ui/death_knight/blood/sim.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/sim.ts
  ui/hunter/beast_mastery/sim.ts
  ui/hunter/survival/sim.ts
  ui/paladin/protection/sim.ts
  ui/paladin/retribution/sim.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/sim.ts
  ui/shaman/enhancement/presets.ts
  ui/warrior/arms/sim.ts
  ui/warrior/fury/sim.ts
  ui/warrior/protection/sim.ts
Labels: Hunter, Paladin, Death Knight, Rogue, Shaman, Warrior

#1354 Add Arcane P4
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/mage/items.go
  ui/mage/arcane/apls/arcane.apl.json
  ui/mage/arcane/gear_sets/p4.gear.json
  ui/mage/arcane/presets.ts
  ui/mage/arcane/sim.ts
Labels: Mage

#1353 Add Shadow P4 gear preset
  ui/core/player_classes/priest.ts
  ui/core/proto_utils/gear.ts
  ui/priest/shadow/apls/p4.apl.json
  ui/priest/shadow/gear_sets/p4.gear.json
  ui/priest/shadow/gear_sets/p4_item_swap.gear.json
  ui/priest/shadow/presets.ts
  ui/priest/shadow/sim.ts
Labels: Priest

#1359 Add T13 4P CSMash to APL
  sim/warrior/items.go
  ui/core/proto_utils/action_id.ts
Labels: Warrior

#1361 Blackhorn Phase 2 Encounter Preset
  assets/database/db.bin
  assets/database/db.json
  sim/core/attack.go
  sim/encounters/dragonsoul/blackhorn_ai.go
  sim/encounters/dragonsoul/dragonsoul.go
  sim/encounters/register_all.go
  ui/core/proto_utils/action_id.ts
  ui/core/utils.ts
  ui/druid/guardian/apls/blackhorn.apl.json
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
Labels: Druid

#1362 Update default Guardian EPs for Phase 4
  ui/druid/guardian/presets.ts
  ui/druid/guardian/sim.ts
Labels: Druid

#1363 Feature/enhancement p4
  proto/shaman.proto
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement.go
  sim/shaman/items_wotlk.go
  sim/shaman/restoration/restoration.go
  sim/shaman/shaman.go
  sim/shaman/shamanistic_rage.go
  ui/shaman/enhancement/apls/default.apl.json
  ui/shaman/enhancement/gear_sets/p4.orc.gear.json
  ui/shaman/enhancement/gear_sets/p4_item_swap.gear.json
  ui/shaman/enhancement/inputs.ts
  ui/shaman/enhancement/presets.ts
  ui/shaman/enhancement/sim.ts
Labels: Shaman

#1364 Fix Weapon swap delay
  sim/core/item_swaps.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/weapon_imbues.go
  sim/warrior/fury/TestFury.results
  ui/shaman/enhancement/apls/default.apl.json
  ui/shaman/enhancement/gear_sets/p4_item_swap.gear.json
Labels: Shaman, Warrior

#1365 Feature/warrior p4
  sim/warrior/protection/TestProtectionWarrior.results
  ui/core/launched_sims.ts
  ui/mage/arcane/presets.ts
  ui/mage/fire/presets.ts
  ui/priest/shadow/presets.ts
  ui/shaman/elemental/presets.ts
  ui/warlock/demonology/presets.ts
  ui/warrior/arms/presets.ts
  ui/warrior/fury/presets.ts
  ui/warrior/protection/apls/default.apl.json
  ui/warrior/protection/gear_sets/p4_bis.gear.json
  ui/warrior/protection/presets.ts
  ui/warrior/protection/sim.ts
Labels: Mage, Priest, Shaman, Warlock, Warrior

#1366 Add Destro P4
  sim/warlock/destruction/TestDestruction.results
  ui/core/launched_sims.ts
  ui/warlock/destruction/apls/default.apl.json
  ui/warlock/destruction/gear_sets/p4.gear.json
  ui/warlock/destruction/gear_sets/p4_item_swap.gear.json
  ui/warlock/destruction/presets.ts
  ui/warlock/destruction/sim.ts
Labels: Warlock

#1367 Add Unholy & Frost Masterfrost P4
  ui/death_knight/frost/apls/masterfrost.apl.json
  ui/death_knight/frost/gear_sets/p4.masterfrost.gear.json
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/gear_sets/p4.bis.gear.json
  ui/death_knight/unholy/presets.ts
  ui/death_knight/unholy/sim.ts
Labels: Death Knight

#1369 [Guardian] Dynamically adjust post-cap EP for Expertise Rating
  ui/druid/guardian/sim.ts
Labels: Druid

#1368 [Balance] Fixed starfall tick spell not proccing Will of Unbinding
  sim/druid/balance/TestBalance.results
  sim/druid/starfall.go
Labels: Druid

#1371 Add proper T12 check
  sim/warlock/items.go
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/items.go
  ui/warrior/arms/apls/arms.apl.json
  ui/warrior/fury/apls/smf.apl.json
  ui/warrior/fury/apls/tg.apl.json
Labels: Warlock, Warrior

#1372 Update APL
  sim/shaman/enhancement/TestEnhancement.results
  ui/shaman/enhancement/apls/default.apl.json
Labels: Shaman

#1373 Update Demo P4 APL
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
Labels: Warlock

#1374 Adjust P4 APL
  ui/priest/shadow/apls/p4.apl.json
Labels: Priest

#1377 Add Replenishment option
  ui/mage/arcane/sim.ts
  ui/mage/fire/sim.tsx
Labels: Mage

#1379 Add DG logic to APL
  sim/warlock/demonology/TestDemonology.results
  ui/warlock/demonology/apls/incinerate.apl.json
  ui/warlock/demonology/apls/shadow-bolt.apl.json
Labels: Warlock

#1376 Feature/mage p4
  sim/mage/arcane/TestArcane.results
  sim/mage/talents_arcane.go
  ui/mage/arcane/apls/arcane.apl.json
  ui/mage/arcane/gear_sets/p4.gear.json
Labels: Mage

#1382 Move Guardian sim to Phase 4
  sim/druid/guardian/TestGuardian.results
  sim/druid/guardian/tank_test.go
  ui/core/launched_sims.ts
  ui/druid/guardian/gear_sets/p4.gear.json
  ui/druid/guardian/gear_sets/preraid.gear.json
  ui/druid/guardian/sim.ts
Labels: Druid

#1384 Fix chest enchant
  ui/mage/fire/gear_sets/p4_fire.gear.json
Labels: Mage

#1380 Gurthalak changes from PTR
  sim/common/cata/gurthalak.go
  sim/core/item_swaps.go
  sim/core/pet.go
  sim/paladin/retribution/TestRetribution.results
  sim/warrior/arms/TestArms.results
  ui/core/components/detailed_results/timeline.tsx
Labels: Paladin, Warrior

#1385 Add 2x Gurth
  ui/warrior/fury/gear_sets/p4_fury_tg.gear.json
Labels: Warrior

#1387 [Warrior] Change Thunder Clap proc mask
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/thunder_clap.go
Labels: Warrior

#1386 Update swap & gearset
  ui/shaman/enhancement/apls/default.apl.json
  ui/shaman/enhancement/gear_sets/p4_item_swap.gear.json
Labels: Shaman

#1389 Enable item swapping for Feral
  ui/druid/feral/sim.ts
Labels: Druid

#1390 Add improved APL
  sim/warrior/arms/TestArms.results
  ui/warrior/arms/apls/arms.apl.json
Labels: Warrior

#1391 Add Feral Paws handler
  sim/core/item_swaps.go
  sim/druid/druid.go
Labels: Druid

#1396 Add Item Swap ICD on reset fix
  sim/core/apl.go
  sim/core/item_swaps.go
  sim/shaman/elemental/TestElemental.results
Labels: Shaman

#1397 [Ret] Update P4 presets and fix some T13 things
  sim/paladin/items.go
  sim/paladin/retribution/TestRetribution.results
  sim/paladin/retribution/retribution_test.go
  ui/core/launched_sims.ts
  ui/paladin/retribution/gear_sets/p4_bis.gear.json
  ui/paladin/retribution/gear_sets/preraid.gear.json
  ui/paladin/retribution/presets.ts
  ui/paladin/retribution/sim.ts
Labels: Paladin

#1398 Actually fix the initialized check
  sim/core/item_swaps.go
  sim/shaman/elemental/TestElemental.results
Labels: Shaman

#1399 Pre-pull Tranquility support for Feral sim
  proto/druid.proto
  sim/common/cata/stat_bonus_procs.go
  sim/core/buffs.go
  sim/core/character.go
  sim/core/raid.go
  sim/core/target_dummy.go
  sim/druid/druid.go
  sim/druid/feral/TestFeral.results
  sim/druid/feral/feral_test.go
  sim/druid/tranquility.go
  ui/core/components/encounter_picker.ts
  ui/core/player.ts
  ui/core/proto_utils/gear.ts
  ui/druid/feral/apls/aoe.apl.json
  ui/druid/feral/apls/default.apl.json
  ui/druid/feral/apls/monocat.apl.json
  ui/druid/feral/gear_sets/p4_item_swap.gear.json
  ui/druid/feral/inputs.ts
  ui/druid/feral/presets.ts
  ui/druid/feral/sim.ts
Labels: Druid

#1395 Fix/vial bone link fetish
  sim/common/cata/gurthalak.go
  sim/common/cata/other_effects.go
  sim/core/attack.go
  sim/core/aura_helpers.go
  sim/core/flags.go
  sim/death_knight/blood/TestBlood.results
  sim/death_knight/runeforging.go
  sim/death_knight/unholy/TestUnholy.results
  sim/druid/feral/TestFeral.results
  sim/hunter/beast_mastery/TestBM.results
  sim/hunter/marksmanship/TestMM.results
  sim/hunter/survival/TestSV.results
  sim/mage/arcane/TestArcane.results
  sim/mage/fire/TestFire.results
  sim/paladin/retribution/TestRetribution.results
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/mastery.go
  sim/rogue/fan_of_knives.go
  sim/rogue/poisons.go
  sim/rogue/rogue.go
  sim/rogue/subtlety/TestSubtlety.results
  sim/shaman/elemental/TestElemental.results
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/fire_totems.go
  sim/shaman/talents.go
  sim/shaman/weapon_imbues.go
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/fury/talents.go
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Mage, Paladin, Druid, Rogue, Shaman, Warrior

#1400 Reduce haste threshold
  ui/priest/shadow/sim.ts
Labels: Priest

#1401 Update tests
  sim/druid/feral/TestFeral.results
  sim/shaman/elemental/TestElemental.results
Labels: Druid, Shaman

#1404 Fix gem in P4 Warr set
  ui/warrior/arms/gear_sets/p4_arms_bis.gear.json
Labels: Warrior

#1407 [Balance] Update presets and APL for T13
  ui/druid/balance/apls/t13.apl.json
  ui/druid/balance/gear_sets/preraid.gear.json
  ui/druid/balance/presets.ts
  ui/druid/balance/sim.ts
Labels: Druid

#1408 [Combat] Panic increase spell hit EP after recent sim adjustments
  ui/rogue/combat/presets.ts
Labels: Rogue

#1405 Update Sim launch statuses & defaults
  proto/shaman.proto
  sim/common/cata/other_effects.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/frost/frost_test.go
  sim/death_knight/unholy/TestUnholy.results
  sim/death_knight/unholy/unholy_test.go
  sim/druid/balance/TestBalance.results
  sim/druid/balance/balance_test.go
  sim/hunter/survival/TestSV.results
  sim/hunter/survival/survival_test.go
  sim/mage/fire/TestFire.results
  sim/mage/fire/fire_test.go
  sim/priest/mind_flay.go
  sim/priest/shadow/TestShadow.results
  sim/priest/shadow/shadow_test.go
  sim/shaman/elemental/TestElemental.results
  sim/shaman/elemental/elemental.go
  sim/shaman/elemental/elemental_test.go
  sim/shaman/enhancement/TestEnhancement.results
  sim/shaman/enhancement/enhancement.go
  sim/shaman/enhancement/enhancement_test.go
  sim/shaman/items.go
  sim/shaman/restoration/restoration.go
  sim/shaman/shaman.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/demonology/demonology_test.go
  sim/warlock/destruction/TestDestruction.results
  sim/warlock/destruction/destruction_test.go
  sim/warrior/arms/TestArms.results
  sim/warrior/arms/arms_test.go
  sim/warrior/fury/TestFury.results
  sim/warrior/fury/fury_test.go
  sim/warrior/protection/TestProtectionWarrior.results
  sim/warrior/protection/protection_test.go
  ui/core/constants/item_notices.tsx
  ui/core/launched_sims.ts
  ui/death_knight/frost/presets.ts
  ui/death_knight/frost/sim.ts
  ui/death_knight/unholy/sim.ts
  ui/druid/balance/sim.ts
  ui/hunter/survival/gear_sets/p4_sv.gear.json
  ui/hunter/survival/presets.ts
  ui/hunter/survival/sim.ts
  ui/mage/arcane/sim.ts
  ui/mage/fire/sim.tsx
  ui/paladin/retribution/sim.ts
  ui/priest/shadow/sim.ts
  ui/shaman/elemental/sim.ts
  ui/shaman/enhancement/sim.ts
  ui/shaman/inputs.ts
Labels: Hunter, Mage, Paladin, Priest, Death Knight, Druid, Shaman, Warlock, Warrior

#1409 [Balance] Small adjustments to T13 presets and build configs
  ui/druid/balance/presets.ts
  ui/druid/balance/sim.ts
Labels: Druid

#1410 Gurthalak has no delay between misses and recasts
  sim/common/cata/gurthalak.go
  sim/death_knight/unholy/TestUnholy.results
  sim/paladin/retribution/TestRetribution.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
Labels: Paladin, Warrior

#1411 [Rogue][Combat] Further Nokaled EP tuning
  ui/rogue/combat/presets.ts
Labels: Rogue

#1416 [Rogue] Fix for Bandit's Guile/Vendetta Class Mask Damage Multiplier, + cosmetic updates
  sim/rogue/assassination/TestAssassination.results
  sim/rogue/assassination/assassination.go
  sim/rogue/assassination/vendetta.go
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/bandits_guile.go
  sim/rogue/combat/combat.go
  sim/rogue/combat/killing_spree.go
  sim/rogue/rogue.go
  ui/core/launched_sims.ts
  ui/rogue/assassination/sim.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/sim.ts
Labels: Rogue

#1414 Update FDK prebis
  ui/death_knight/frost/gear_sets/prebis.gear.json
  ui/death_knight/frost/presets.ts
Labels: Death Knight

#1415 Affli p4
  sim/warlock/affliction/TestAffliction.results
  sim/warlock/affliction/affliction_test.go
  sim/warlock/demonology/TestDemonology.results
  sim/warlock/soul_fire.go
  sim/warlock/soul_harvest.go
  sim/warlock/soulburn.go
  sim/warlock/warlock.go
  ui/core/launched_sims.ts
  ui/warlock/affliction/apls/default.apl.json
  ui/warlock/affliction/gear_sets/p4.gear.json
  ui/warlock/affliction/presets.ts
  ui/warlock/affliction/sim.ts
Labels: Warlock

#1419 Fix auto select P4 rotation
  ui/priest/shadow/sim.ts
Labels: Priest

#1421 Adjust Gurthalak & Souldrinker behavior
  sim/common/cata/gurthalak.go
  sim/common/cata/other_effects.go
  sim/death_knight/frost/TestFrost.results
  sim/death_knight/unholy/TestUnholy.results
  sim/hunter/survival/TestSV.results
  sim/paladin/retribution/TestRetribution.results
  sim/warrior/arms/TestArms.results
  sim/warrior/fury/TestFury.results
  sim/warrior/protection/TestProtectionWarrior.results
Labels: Hunter, Paladin, Warrior

#1427 Update P4 with Item Swap
  sim/druid/balance/TestBalance.results
  ui/druid/balance/apls/t13.apl.json
  ui/druid/balance/gear_sets/t13_item_swap.gear.json
  ui/druid/balance/presets.ts
  ui/druid/balance/sim.ts
Labels: Druid

#1428 [Paladin] Inquisition GCD should be reduced by haste
  sim/paladin/inquisition.go
  sim/paladin/protection/TestProtection.results
  sim/paladin/retribution/TestRetribution.results
Labels: Paladin

#1429 [Rogue] Fix Main Gauche proc mask
  sim/rogue/combat/TestCombat.results
  sim/rogue/combat/combat.go
  sim/rogue/combat/combat_potency.go
  sim/rogue/combat/mastery.go
  sim/rogue/envenom.go
  sim/rogue/poisons.go
  sim/rogue/rogue.go
Labels: Rogue

#1430 [Rogue] Update Gearsets and Combat EPs
  sim/rogue/combat/TestCombat.results
  ui/rogue/assassination/gear_sets/preraid_assassination.gear.json
  ui/rogue/combat/gear_sets/p4_combat.gear.json
  ui/rogue/combat/gear_sets/preraid_combat.gear.json
  ui/rogue/combat/presets.ts
  ui/rogue/combat/sim.ts
  ui/rogue/subtlety/gear_sets/preraid_subtlety.gear.json
Labels: Rogue
